Repository infinitystation/Baystation12, pull requests merged in 2018-12, with the labels that each got.

#572 Порт фиксов интегральных схем с Бея.
  baystation12.dme
  code/__defines/subsystem-priority.dm
  code/_helpers/global_access.dm
  code/controllers/subsystems/circuit_component.dm
  code/controllers/subsystems/processing/circuit.dm
  code/modules/admin/secrets/admin_secrets/toggle_circuits.dm
  code/modules/integrated_electronics/core/integrated_circuit.dm
  code/modules/integrated_electronics/core/pins.dm
Labels: Фикс багов

#519 Иконки сервера с тг
  icons/ss13_32.png
  icons/ss13_64.png
Labels: Рассматривается, Спрайты

#520 Костыль исправления гиба головы генокрада
  code/game/gamemodes/changeling/changeling_powers.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/human/life.dm
  code/modules/organs/internal/brain.dm
Labels: Рассматривается, Фича

#573 Новые хирургические инструменты
  code/game/objects/items.dm
  code/game/objects/items/weapons/surgery_tools.dm
  code/modules/research/designs.dm
  code/modules/surgery/bones.dm
  code/modules/surgery/surgery.dm
  icons/obj/surgery_inf.dmi
Labels: Фича

#585 Маленький пак фиксов
  code/game/objects/items/devices/radio/radio.dm
  code/modules/mob/mob.dm
Labels: Фикс багов

#587 Свобода в выборе места жительства и культуры
  baystation12.dme
  code/modules/species/station/lizard.dm
  code/modules/species/station/machine.dm
  code/modules/species/station/resomi.dm
  code/modules/species/station/station.dm
  code/modules/species/station/tajaran.dm
Labels: Изменение

#589 Резоми и Таяры в ЭК + мелочи
  code/game/machinery/doors/firedoor.dm
  maps/torchinf/job/torch_jobs.dm
  maps/torchinf/torch_define.dm
  maps/torchinf/torch_ranks.dm
Labels: Изменение, Фикс багов

#590 Фикс даты смерти.
  code/game/objects/items/devices/scanners.dm
Labels: Фикс багов

#591 Sleepers UP
  code/game/machinery/Sleeper.dm
Labels: Спорно, Фича

#592 Лодаут торча без ограничений на 50%
  maps/torchinf/loadout/loadout_accessories.dm
  maps/torchinf/loadout/loadout_eyes.dm
  maps/torchinf/loadout/loadout_gloves.dm
  maps/torchinf/loadout/loadout_head.dm
  maps/torchinf/loadout/loadout_infinity.dm
  maps/torchinf/loadout/loadout_infinity_tact.dm
  maps/torchinf/loadout/loadout_shoes.dm
  maps/torchinf/loadout/loadout_suit.dm
  maps/torchinf/loadout/loadout_uniform.dm
  maps/torchinf/loadout/loadout_xeno.dm
Labels: Изменение, Фича

#594 Ребаланс основного лучевого оружия
  code/modules/projectiles/guns/energy/pulse.dm
  code/modules/projectiles/guns/projectile/automatic.dm
  code/modules/projectiles/projectile/beams.dm
  html/changelog_infinity.html
  html/changelogs_infinity/.all_changelog.yml
Labels: Изменение

#630 Подтверждение при ампутации конечности.
  code/modules/surgery/generic.dm
Labels: Фича

#633 Небольшой фикс протолата.
  code/modules/research/rdconsole.dm
Labels: Фикс багов

#632 Небольшой фикс биогенератора.
  code/game/machinery/biogenerator.dm
Labels: Фикс багов

#634 Небольшой фикс по разборке низкой стены.
  code/game/objects/structures/wall_frame.dm
Labels: Фикс багов

#640 Убираем стан при вставании со стулов с помощью резиста.
  code/modules/mob/living/carbon/resist.dm
Labels: Фича

#665 Перестаем видеть во сне\в отключке кто и что куда перекладывает.
  code/game/objects/items/weapons/storage/storage.dm
Labels: Фикс багов

#642 Починил Stop all sounds.
  code/game/verbs/sound.dm
Labels: Фикс багов

#672 Обучаем ИПК приемам из кунг-фу.
  code/modules/species/station/machine.dm
Labels: Фикс багов

#671 Забираем способность телепортировать карточки из компьютера у ИИ и роботов.
  code/modules/modular_computers/computers/modular_computer/interaction.dm
Labels: Фикс багов

#668 Маленький фикс шприца.
  code/modules/reagents/reagent_containers/syringes.dm
Labels: Фикс багов

#670 Выдаем предохранители пушечкам.
  code/modules/projectiles/guns/projectile/automatic.dm
Labels: Фикс багов

#636 Поправки в дизайнах протолата.
  baystation12.dme
  code/game/objects/items/devices/multimeter.dm
  code/modules/clothing/chameleon.dm
  code/modules/research/designs.dm
  code/modules/research/infinity_designs.dm
Labels: Фикс багов, Фича

#674 Перестаем кликать бумажкой по камере заставляя ИИ плакать.
  code/game/machinery/camera/camera.dm
Labels: Фикс багов

#669 More space for tactical belt
  code/game/objects/items/weapons/storage/belt.dm
Labels: Изменение, Спорно

#680 Набор из 3 фиксов и одной фичи.
  code/datums/uplink/services.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  code/modules/mob/living/silicon/pai/pai.dm
  html/changelogs_infinity/Laxesh - FIXPACK.yml
Labels: Фикс багов, Фича

#681 Перестаем дюпать бинты, увеличиваем заодно кол-во мази в стаке.
  code/game/objects/items/stacks/medical.dm
Labels: Изменение, Фикс багов

#715 Улучшение биопринтера позволяет тому сжирать органы.
  code/game/machinery/bioprinter.dm
Labels: Фича

#720 Дорогу синтам! (Даем ипк возможность выбирать вей-мед и волосы)
  code/modules/organs/robolimbs.dm
  code/modules/species/station/machine.dm
Labels: Изменение
