Repository infinitystation/Baystation12, pull requests merged in 2018-11, with the labels that each got.

#473 Изменение способа проверки расы для резоми и ксеноморфов
  code/game/machinery/doors/door.dm
  code/game/objects/structures/barrier.dm
  code/modules/emotes/definitions/audible.dm
  code/modules/mob/living/carbon/human/update_icons.dm
Labels: Изменение

#472 Исправление мгновенного закрытия интерфейса радио
  code/game/objects/items/devices/radio/radio.dm
Labels: Фикс багов

#466 Шлюз будет пищать при отказе в доступе даже если недостаточно защищён
  code/game/machinery/doors/airlock.dm
Labels: Изменение

#489 Исправление режима ООС, кнопки конца раунда и обновление конфига
  code/controllers/subsystems/ticker.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_verbs.dm
  config/config.txt
Labels: На рассмотрении, Фикс багов

#486 Смена высоты моба на столе
  code/modules/tables/tables.dm
Labels: На рассмотрении, Фича

#468 [READY] Разнёрф телепортационных заклинаний мага
  code/modules/spells/aoe_turf/blink.dm
Labels: Изменение, На рассмотрении

#518 Обновление голосования
  code/controllers/subsystems/vote.dm
  code/datums/vote/gamemode.dm
  code/datums/vote/vote.dm
Labels: Фича

#534 На Сиере можно спрятать СелфДестракт!
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_unit_testing.dm
Labels: Карта, Рассматривается
