Repository infinitystation/Baystation12, pull requests merged in 2019-10, with the labels that each got.

#1245 Pray upgrade
  baystation12.dme
  code/__defines/mobs_inf.dm
  code/datums/communication/pray.dm
  code/modules/admin/admin.dm
  code/modules/mob/living/carbon/human/update_icons.dm
  infinity/code/datums/mutable_appearance.dm
  infinity/code/game/gamemodes/malfunction/newmalf_ability_trees/infinity.dm
  infinity/code/game/machinery/cargopad.dm
  infinity/code/game/machinery/crusher_piston.dm
  infinity/code/game/machinery/disk_writer.dm
  infinity/code/game/machinery/jukebox.dm
  infinity/code/game/machinery/metal_detector.dm
  infinity/code/modules/admin/topic.dm
  infinity/code/modules/mob/animations.dm
  infinity/code/modules/scrap/scrap_pileripper.dm
  infinity/code/modules/scrap/scrap_refinery.dm
  infinity/icons/effects/beam.dmi
  infinity/icons/mob/mob.dmi
  infinity/sound/effects/lightningbolt.ogg
  infinity/sound/effects/rings.ogg
  infinity/sound/effects/server-ready.ogg
Labels: Фича

#1344 Airlock ID debug browser rework
  code/_macros_inf.dm
  code/game/machinery/doors/airlock.dm
  infinity/code/game/machinery/doors/airlocks.dm
Labels: Ready4Review

#1358 Озеленяем Трэвис.
  maps/sierra/sierra-1.dmm
Labels: Фикс багов
