Repository infinitystation/Baystation12, pull requests merged in 2019-02, with the labels that each got.

#823 Опечатка
  code/game/gamemodes/changeling/infinity/modularchangling.dm
Labels: Фикс багов

#782 Update in-game manual for Supermatter
  code/modules/library/manuals/engineering.dm
Labels: Изменение

#829 Фикс генки(копирайт с оригинального бэя)
  code/modules/organs/internal/brain.dm
Labels: Фикс багов

#773 Nuclear disk tweak
  code/game/gamemodes/nuclear/nuclear.dm
  html/changelogs_infinity/tweaksnuka_TermService.yml
Labels: Фикс багов

#830 Обновление для скреллов
  baystation12.dme
  code/__defines/culture.dm
  code/modules/culture_descriptor/faction/factions_skrell.dm
  code/modules/species/station/station.dm
  html/changelogs_infinity/new_skrell.yml
Labels: Фича

#775 Changeling update
  code/game/gamemodes/changeling/infinity/changeling_items.dm
  code/game/gamemodes/changeling/infinity/changeling_powers.dm
  code/game/gamemodes/changeling/infinity/modularchangling.dm
  html/changelogs_infinity/tweaksgeno_TermService.yml
Labels: Изменение, Фича
