Repository infinitystation/Baystation12, pull requests merged in 2019-08, with the labels that each got.

#1270 пр имени веселья терора и плакатиков
  baystation12.dme
  code/unit_tests/icon_tests.dm
  infinity/code/game/objects/effects/decals/posters.dm
  infinity/icons/obj/contraband.dmi
  infinity/icons/obj/posters.dmi
Labels: WIP

#1221 Телесайнс. Максимальное значение сектора
  infinity/code/modules/telesci/telesci_computer.dm
Labels: Спорно, Фикс багов, Фича

#1279 починил стакан на уши
  infinity/code/modules/reagents/reagent_containers/food/drinks.dm
Labels: Фикс багов

#1281 Открывает доступ к пси-импланту в аплинке.
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
Labels: Баланс
