Repository infinitystation/Baystation12, pull requests merged in 2019-09, with the labels that each got.

#1292 Fix пропажи спрайта одежды после Roll up (Women).
  maps/sierra/icons/mob/onmob_under_solgov.dmi
  maps/sierra/items/clothing/solgov-under.dm
Labels: Фикс багов

#1298 Замещение средних бронежилетов лёгкими у глав
  maps/sierra/structures/closets/engineering.dm
  maps/sierra/structures/closets/medical.dm
  maps/sierra/structures/closets/research.dm
Labels: Баланс

#1290 Самодельный лазер
  baystation12.dme
  infinity/code/modules/materials/reciepes.dm
  infinity/code/modules/projectiles/guns/energy/laserkraftwerk.dm
  infinity/icons/mob/onmob/lefthand.dmi
  infinity/icons/mob/onmob/onmob_back.dmi
  infinity/icons/mob/onmob/onmob_belt.dmi
  infinity/icons/mob/onmob/righthand.dmi
  infinity/icons/obj/guns.dmi
  infinity/icons/obj/guns/lkw.dmi
Labels: Фича

#1316 моя кастомка и исправление кастомки и исправление спрайта маски
  code/modules/clothing/masks/gasmask.dm
  icons/mob/species/tajaran/mask.dmi
  infinity/code/modules/clothing/masks/masks.dm
  infinity/customs/forrya_custom.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: WIP
