Repository infinitystation/Baystation12, pull requests merged in 2019-07, with the labels that each got.

#1224 Подбрасывание монетки с VG
  baystation12.dme
  code/game/objects/items/weapons/material/coins.dm
  icons/obj/coins.dmi
  infinity/code/game/objects/items/weapons/material/coins.dm
Labels: Оптимизация, Смахивает на бесполезность, Фича

#1220 Добавление котов в вайтлист култекс. патчей
  maps/torch/loadout/loadout_xeno.dm
Labels: Фикс багов

#1222 Исправление генерации контента в спавн-панеле
  code/_helpers/global_access.dm
  code/modules/admin/create_object.dm
  test/run-test.sh
Labels: Проверить, Фикс багов

#1215 Информация о версии бьёнда в Player Panel
  code/modules/admin/admin.dm
Labels: Фича

#1225 минирефактор чейнжлога
  baystation12.dme
  code/_global_vars/configuration.dm
  code/_helpers/global_access.dm
  code/game/world.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/05_settings.dm
  code/modules/client/preferences.dm
  code/modules/mob/mob.dm
  html/changelog_infinity.html
  html/templates/header_infinity.html
  html/templates/header_infinity_old.html
  infinity/code/changelog.dm
  interface/skin.dmf
  test/run-test.sh
Labels: Изменение, Оптимизация

#1219 Ржаная буханка
  baystation12.dme
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/reagent_containers/food/condiment.dm
  icons/obj/food_alt.dmi
  infinity/code/modules/food/recipes_microwave.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  infinity/code/modules/reagents/reagent_containers/food/condiment.dm
  infinity/code/modules/reagents/reagent_containers/food/snacks.dm
  infinity/icons/obj/food.dmi
Labels: Смахивает на бесполезность, Фича

#1232 рефактор наручных браслетов
  baystation12.dme
  code/modules/modular_computers/computers/subtypes/dev_wrist.dm
  code/modules/modular_computers/computers/subtypes/preset_wrist.dm
  code/modules/research/message_server.dm
  config/custom_items.txt
  icons/mob/infinity/wristcomp.dmi
  icons/obj/modular_wrist.dmi
  infinity/code/game/objects/items/customs/wpda_grayson.dm
  infinity/code/game/objects/items/customs/wrist_computer.dm
  infinity/code/game/objects/items/customs/wrist_computer_grayson.dm
  infinity/code/modules/client/preference_setup/loadout/lists/infinity.dm
  infinity/code/modules/codex/entries/infinity.dm
  infinity/code/modules/modular_computers/computers/subtypes/dev_wrist.dm
  infinity/icons/mob/wrist_computer.dmi
  infinity/icons/obj/wrist_computer.dmi
  infinity/sound/items/ui_pipboy_select.wav
  maps/sierra/sierra-1.dmm
Labels: Оптимизация

#1235 Crawlhands revert
  code/_onclick/hud/screen_objects.dm
  code/datums/movement/mob.dm
  code/game/turfs/turf.dm
  code/modules/mob/inventory.dm
  code/modules/mob/mob.dm
Labels: Удаление

#1197 IPC: взаимодействие с протезами
  baystation12.dme
  infinity/code/modules/mob/living/carbon/human/human_machine_limb_function.dm
Labels: Спорно, Фича

#1240 Сортировка sierra-4
  maps/sierra/sierra-4.dmm
Labels: Карта

#1242 Добавление строчки о том как компилировать код батников
  infinity/code/modules/modular_computers/file_system/coding_data.dm
Labels: НЕ МЕРДЖИТЬ

#1266 Sierra, Bearcat and ec_old_crash fixes
  code/unit_tests/job_tests.dm
  maps/bearcat_inf/bearcat-1.dmm
  maps/bearcat_inf/bearcat-2.dmm
  maps/bearcat_inf/bearcat-3.dmm
  maps/bearcat_inf/bearcat_areas.dm
  maps/bearcat_inf/bearcat_jobs.dm
  maps/bearcat_inf/bearcat_shuttles.dm
  maps/bearcat_inf/bearcat_unit_testing.dm
  maps/random_ruins/exoplanet_ruins/ec_old_crash/ec_old_crash.dm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
  maps/sierra/sierra_unit_testing.dm
  nano/templates/shuttle_control_console_multi_lift.tmpl
Labels: Карта, Оптимизация, Фикс багов
