Repository infinitystation/Baystation12, pull requests merged in 2019-06, with the labels that each got.

#1118 кастомка рэкси
  baystation12.dme
  config/custom_items.txt
  infinity/code/game/objects/items/customs/ronin_mask.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1122 Фиксим ПДА. Часть Х
  code/modules/turbolift/turbolift_door.dm
  infinity/code/modules/client/preference_setup/loadout/lists/infinity.dm
Labels: Фикс багов

#1153 Фикс вылезающей когда не надо панельки интеракций
  infinity/code/modules/mob/living/carbon/human/interactions.dm
Labels: Фикс багов

#1166 Blackout device
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  icons/obj/items_inf.dmi
  infinity/code/game/items/devices/blackout.dm
Labels: Фича

#1169 исправление разметки PP
  code/modules/admin/admin.dm
Labels: Фикс багов

#1170 полёт адхерентов над столами
  code/modules/organs/internal/species/adherent.dm
Labels: Фича

#1175 удаление неиспользуемой вкладки окна
  interface/skin.dmf
Labels: Оптимизация

#1189 Фиксы Трэвиса.
  code/modules/modular_computers/terminal/terminal_commands.dm
  code/unit_tests/icon_tests.dm
  test/check-paths.sh
Labels: Фикс багов

#1193 Заставляем компилятор батников воспринимать переносы строки
  code/modules/modular_computers/terminal/terminal_commands.dm
  infinity/code/modules/modular_computers/file_system/coding_data.dm
Labels: Фикс багов

#1194 Manual-wiki links
  code/modules/library/lib_items.dm
  code/modules/library/manuals/engineering.dm
  code/modules/library/manuals/medical.dm
  code/modules/library/manuals/nanotrasen.dm
Labels: Оптимизация

#1195 Рефактор крио, перенос файлов
  baystation12.dme
  code/game/objects/cryo_spawner.dm
  code/modules/tables/tables.dm
  infinity/code/game/objects/cryo_spawner.dm
  infinity/code/game/objects/items/airbag.dm
  infinity/code/game/objects/items/devices/multimeter.dm
  infinity/code/game/objects/items/devices/pmp.dm
  infinity/code/game/objects/noose.dm
  infinity/code/game/verbs/sound.dm
  infinity/code/modules/mob/living/living_powers.dm
Labels: Оптимизация

#1208 Новые оверлеи для очков
  baystation12.dme
  code/_onclick/hud/global_hud.dm
  infinity/code/_onclick/hud/global_hud.dm
  infinity/icons/obj/hud_full.dmi
Labels: Спрайты

#1201 orig lighting.dm
  code/modules/power/lighting.dm
Labels: Смахивает на бесполезность

#1168 Изменение таяр и балансировка гиперзина
  baystation12.dme
  baystation12.dme.orig
  code/modules/projectiles/gun.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Medicine.dm
  infinity/code/game/objects/auras/speed_aura.dm
  infinity/code/modules/mob/living/carbon/human/human_powers.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  infinity/code/modules/species/station/resomi.dm
  infinity/code/modules/species/station/tajaran.dm
  maps/sierra/job/jobs.dm
Labels: Баланс, Изменение

#1207 Восстановление звука тумаков
  baystation12.dme
  code/game/sound.dm
  code/modules/mob/living/carbon/human/unarmed_attack.dm
  infinity/code/game/sound.dm
Labels: Фича

#1211 Unapologetic Rexie Buffs
  baystation12.dme
  config/custom_items.txt
  infinity/code/game/objects/items/customs/ronin_helmet.dm
  infinity/code/game/objects/items/customs/ronin_mask.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Изменение, Кастомка

#1214 *sip* Discord, fellas
  baystation12.dme
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  code/modules/reagents/Chemistry-Recipes.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Food-Drinks.dm
  infinity/code/modules/reagents/Chemistry-Recipes.dm
  infinity/code/modules/reagents/reagent_containers/food/drinks/champagne.dm
Labels: Фича

#1185 Плащи
  baystation12.dme
  code/__defines/items_clothing.dm
  code/modules/clothing/clothing.dm
  code/modules/clothing/spacesuits/spacesuits.dm
  icons/mob/infinity/ties.dmi
  infinity/code/modules/clothing/cloak.dm
  infinity/icons/obj/clothing/ties.dmi
Labels: Спрайты, Фича

#1162 взаимодействия лёжа
  code/datums/movement/mob.dm
  code/game/turfs/turf.dm
  code/modules/mob/inventory.dm
  code/modules/mob/mob.dm
Labels: Баланс, Спорно, Фича

#1216 Анимация пузырей речи с авроры/terragov
  baystation12.dme
  code/modules/mob/living/say.dm
  code/modules/mob/typing_indicator.dm
  icons/mob/talk.dmi
  infinity/code/__helpers/animations.dm
Labels: Фича
