Repository infinitystation/Baystation12, pull requests merged in 2020-01, with the labels that each got.

#1396 Фикс дублирующегося ИИ
  code/modules/mob/living/silicon/ai/ai.dm
Labels: Фикс багов

#1402 Временное отключение ограничений рюкзака
  infinity/code/game/objects/items/weapons/storage/backpack.dm
Labels: Баланс, Спорно

#1397 Blast and crush
  code/game/machinery/doors/blast_door.dm
  code/modules/mob/living/living_defense.dm
  infinity/code/game/machinery/doors/blast.dm
Labels: Фича

#1414 Отменяем некоторые изменения по запросу Линерса
  code/datums/extensions/armor/armor.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/organs/external/_external_damage.dm
Labels: Удаление

#1405 5au5age-Rough character_name fix
  infinity/custom_items/pmp/5au5age-Rough.json
Labels: Ready4Review, Кастомка, Фикс багов

#1413 Музыка в лобби: Simon Stålenhag - Fluvial Beat Deposits
  baystation12.dme
  code/datums/music_tracks/infinity/fluvialbeatdeposits.dm
  infinity/sound/music/fluvial-beat-deposits.ogg
  maps/sierra/sierra_lobby.dm
Labels: Ready4Review, Фича

#1410 drop pouche, с выбором цвета (название изменено)
  infinity/code/modules/client/preference_setup/loadout/lists/infinity.dm
Labels: Смахивает на бесполезность, Фича
