Repository infinitystation/Baystation12, pull requests merged in 2020-05, with the labels that each got.

#1528 Ремонт вентеляции на шахтерском аванпосте
  maps/away_inf/mining/mining-asteroid.dmm
Labels: Ready4Review, Маппинг, Фикс

#1524 Спрайты и возможность надеть риг смо для резоми
  infinity/icons/mob/onmob/onmob_under.dmi
  infinity/icons/mob/species/resomi/onmob_feet_resomi.dmi
  infinity/icons/mob/species/resomi/onmob_hands_resomi.dmi
  infinity/icons/mob/species/resomi/onmob_head_resomi.dmi
  infinity/icons/mob/species/resomi/onmob_rig_back_resomi.dmi
  infinity/icons/mob/species/resomi/onmob_suit_resomi.dmi
  maps/sierra/items/rigs.dm
Labels: Спрайты

#1529 Фикс альтитлов професий ордер ассистенте
  code/modules/modular_computers/file_system/programs/security/digitalwarrant.dm
Labels: Фикс

#1515 Добавляем в игру кадетов aka ассистенты брига.
  infinity/code/modules/clothing/under/under.dm
  infinity/code/modules/projectiles/guns/energy/secure.dm
  infinity/code/modules/projectiles/projectile/beams.dm
  infinity/icons/mob/onmob/items/lefthand_guns_secure.dmi
  infinity/icons/mob/onmob/items/righthand_guns_secure.dmi
  infinity/icons/mob/onmob/onmob_under.dmi
  infinity/icons/obj/clothing/obj_under.dmi
  infinity/icons/obj/guns/confusegun_secure.dmi
  maps/sierra/icons/assignment_hud.dmi
  maps/sierra/items/cards_ids.dm
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/job/outfits.dm
  maps/sierra/loadout/_defines.dm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_antagonism.dm
  maps/sierra/sierra_areas.dm
  maps/sierra/structures/closets/security.dm
Labels: Баланс, Маппинг, Спорно, Фича

#1531 Bearcat Little Tweaks
  maps/away_inf/bearcat/bearcat-1.dmm
  maps/away_inf/bearcat/bearcat-2.dmm
  maps/away_inf/bearcat/bearcat.dm
  maps/away_inf/bearcat/bearcat_access.dm
  maps/away_inf/bearcat/bearcat_areas.dm
  maps/away_inf/bearcat/bearcat_jobs.dm
  maps/sierra/sierra.dm
Labels: Маппинг

#1539 Полировка Кадетов
  html/changelogs_infinity/Archemagus.yml
  infinity/code/modules/projectiles/guns/energy/secure.dm
  infinity/code/modules/projectiles/projectile/beams.dm
  maps/sierra/icons/assignment_hud.dmi
  maps/sierra/job/jobs_security.dm
  maps/sierra/sierra-3.dmm
  maps/sierra/structures/closets/security.dm
Labels: Ready4Review, Маппинг

#1538 CulturalFeatures
  baystation12.dme
  code/__defines/_inf/_inf.culture.dm
  code/__defines/languages_inf.dm
  code/modules/mob/language/human/arabic.dm
  code/modules/mob/language/human/chinese.dm
  code/modules/mob/language/human/euro.dm
  code/modules/mob/language/human/indian.dm
  code/modules/mob/language/human/misc/gutter.dm
  code/modules/mob/language/human/misc/spacer.dm
  code/modules/mob/language/human/russian.dm
  code/modules/mob/language/human/selenian.dm
  code/modules/mob/language/human/spanish.dm
  code/modules/species/station/station.dm
  code/stylesheet.dm
  infinity/code/modules/culture_descriptor/culture/cultures_human.dm
  infinity/code/modules/mob/language/human/alain.dm
  infinity/code/modules/mob/language/human/lirris.dm
  maps/sierra/sierra_define.dm
  maps/~mapsystem/maps.dm
Labels: Фича

#1537 Изменения судна Восхождения
  baystation12.dme
  code/game/turfs/simulated/floor_damage.dm
  code/modules/ascent/ascent_machines.dm
  code/modules/ascent/ascent_turfs.dm
  code/modules/power/lighting.dm
  code/modules/species/mantid/mantid.dm
  code/unit_tests/map_tests.dm
  html/changelogs_infinity/terror4000rus-ascents.yml
  infinity/code/game/objects/effects/decals/Cleanable/blood.dm
  infinity/code/game/objects/effects/landmarks.dm
  infinity/code/game/objects/structures/railing.dm
  infinity/code/game/objects/structures/wall_frame.dm
  infinity/code/game/objects/structures/wallframe_spawner.dm
  infinity/code/game/turfs/simulated/wall_types.dm
  infinity/code/modules/ascent/ascent_atoms.dm
  infinity/code/modules/ascent/ascent_machines.dm
  infinity/code/modules/ascent/ascent_machinies.dm
  infinity/code/modules/ascent/ascent_turfs.dm
  infinity/code/modules/power/lighting.dm
  maps/away_inf/ascent/ascent-1.dmm
  maps/away_inf/ascent/ascent.dm
  maps/away_inf/ascent/ascent_areas.dm
  maps/away_inf/ascent/ascent_jobs.dm
  maps/away_inf/ascent/ascent_shuttles.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/sierra/sierra.dm
Labels: Баланс, Маппинг

#1545 Нетрадиционный фикс кабелей мостика Сыроежки
  maps/sierra/sierra_unit_testing.dm
Labels: Ready4Review, Фикс

#1547 Фиксим ксеносов за смарткаром
  infinity/code/modules/culture_descriptor/culture/cultures_hidden_xenophage.dm
Labels: Фикс

#1546 Переносим инклуды файлов торча в папки с картами.
  baystation12.dme
  maps/away_sites_testing/away_sites_testing.dm
  maps/bearcat_inf/bearcat_inf.dm
  maps/bearcat_inf/bearcat_snatch.dm
  maps/example/compile_required_snatch.dm
  maps/example/example.dm
  maps/sierra/sierra.dm
  maps/sierra/sierra_snatch.dm
  maps/torch/torch_inf.dm
Labels: Костыль, Оптимизация, Фикс

#1542 Ограничение профессий бустеров
  maps/sierra/job/jobs.dm
Labels: Изменение

#1551 Возвращение бустерам кадетов
  maps/sierra/job/jobs.dm
Labels: Изменение

#1555 DieSiege Custom
  infinity/custom_items/general/diesiege-Megan-mask.json
  infinity/custom_items/general/diesiege-Megan-set.json
  infinity/customs/diesiege.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/mob/human_races/cyberlimbs/auronsol/auronsol.dmi
Labels: Кастомка

#1540 ---ПОРТИРОВАНИЕ БЛОБА С ТГ---
  baystation12.dme
  code/datums/repositories/follow.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/game/objects/items/weapons/grenades/smokebomb.dm
  code/modules/events/blob.dm
  code/modules/reagents/reagent_containers/spray.dm
  infinity/code/modules/blob/abilities.dm
  infinity/code/modules/blob/blob.dm
  infinity/code/modules/blob/blobbernaut.dm
  infinity/code/modules/blob/eye.dm
  infinity/code/modules/blob/spore.dm
  infinity/code/modules/blob/strains.dm
  infinity/icons/mob/blob.dmi
Labels: Баланс, Спорно, Фича

#1554 Панель КсеноВайтлиста.
  baystation12.dme
  code/__defines/_inf/_inf.colors.dm
  code/__defines/admin.dm
  code/__defines/webhooks.dm
  code/_helpers/global_access.dm
  code/_helpers/type2type.dm
  code/modules/admin/admin.dm
  code/modules/admin/admin_ranks.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/player_panel.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/species/mantid/mantid.dm
  config/alienwhitelist.txt
  infinity/code/modules/admin/xeno_whitelist.dm
  infinity/code/modules/webhooks/webhook_ban_message.dm
  infinity/code/modules/webhooks/webhook_xeno_whitelist.dm
  nano/templates/xeno_whitelist.tmpl
  test/run-test.sh
Labels: Ready4Review, Оптимизация, Фича

#1568 Xenowhitelist fixes
  infinity/code/modules/admin/xeno_whitelist.dm
  infinity/code/modules/webhooks/webhook_xeno_whitelist.dm
  nano/templates/xeno_whitelist.tmpl
  test/check-paths.sh
Labels: Фикс
