Repository infinitystation/Baystation12, pull requests merged in 2020-03, with the labels that each got.

#1457 Вернул подтип плеерам
  infinity/code/modules/music_player/subtypes_player.dm
  infinity/custom_items/pmp/3v4ng4m1ng-Finn.json
  infinity/custom_items/pmp/5au5age-Rough.json
  infinity/custom_items/pmp/arbuzpersikov-Xuel.json
  infinity/custom_items/pmp/arhod-Abbris.json
  infinity/custom_items/pmp/arhod-Amrin.json
  infinity/custom_items/pmp/byxloy-Phoenix.json
  infinity/custom_items/pmp/coltrane97-Iris.json
  infinity/custom_items/pmp/coltrane97-Kayden.json
  infinity/custom_items/pmp/coltrane97-Miguel.json
  infinity/custom_items/pmp/coltrane97-Ta.json
  infinity/custom_items/pmp/deda565-Wayne.json
  infinity/custom_items/pmp/diesiege-Eva.json
  infinity/custom_items/pmp/diesiege-Nyreen.json
  infinity/custom_items/pmp/doctorducky-Marc.json
  infinity/custom_items/pmp/elloncake-Selachii.json
  infinity/custom_items/pmp/evgen00751-Andy.json
  infinity/custom_items/pmp/farwa87-Adelina.json
  infinity/custom_items/pmp/forrya-Niyarkszherch.json
  infinity/custom_items/pmp/furrydog-Niar.json
  infinity/custom_items/pmp/interl0per-Quark.json
  infinity/custom_items/pmp/ka6a4ok-Mike.json
  infinity/custom_items/pmp/kordvik-Lyx.json
  infinity/custom_items/pmp/korramy-Quentin.json
  infinity/custom_items/pmp/m1am1-Edward.json
  infinity/custom_items/pmp/morikawacinatsu-Henry.json
  infinity/custom_items/pmp/mrkayde-kiyaka.json
  infinity/custom_items/pmp/redknighthero-Robert.json
  infinity/custom_items/pmp/s1334-Remi.json
  infinity/custom_items/pmp/s1334-WP.json
  infinity/custom_items/pmp/sallyvadordomold-Denis.json
  infinity/custom_items/pmp/sallyvadordomold-Sally.json
  infinity/custom_items/pmp/thehero13-Jake.json
  infinity/custom_items/pmp/unbidden-Milo.json
  infinity/custom_items/pmp/vankoska-Terill.json
  infinity/custom_items/pmp/wheatley2013-Joshua.json
  infinity/custom_items/pmp/wheatley2013-Sergey.json
  infinity/custom_items/pmp/wheatley2013-Shaisa.json
  infinity/custom_items/pmp/xharlemix-Henry.json
Labels: Кастомка, НЕ МЕРДЖИТЬ

#1454 Овермапный гуппи
  html/changelogs_infinity/coltrane97-gup.yml
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra_overmap.dm
Labels: Маппинг

#1461 Фикс Dna analyzer
  code/modules/detectivework/microscope/dnascanner.dm
  html/changelogs_infinity/moonmen-Ihatethisworld.yml
  infinity/icons/obj/forensics.dmi
Labels: Спрайты, Фикс

#1462 Адреханты могут в работники НТ(для 513)
  maps/sierra/sierra_ranks.dm
Labels: Изменение

#1445 Делаем НТНет менее хардкоженным и даём возможность ставить его на других z левелах, кроме корабля.
  baystation12.dme
  code/__defines/misc_inf.dm
  code/_macros_inf.dm
  code/controllers/configuration.dm
  code/game/objects/items/weapons/circuitboards/machinery/research.dm
  code/modules/modular_computers/NTNet/NTNet.dm
  code/modules/modular_computers/file_system/program.dm
  code/modules/modular_computers/file_system/programs/antagonist/dos.dm
  code/modules/modular_computers/file_system/programs/generic/email_client.dm
  code/modules/modular_computers/file_system/programs/generic/news_browser.dm
  code/modules/modular_computers/file_system/programs/generic/ntdownloader.dm
  code/modules/modular_computers/file_system/programs/generic/nttransfer.dm
  code/modules/modular_computers/hardware/network_card.dm
  code/modules/modular_computers/ntos/ui.dm
  html/changelogs_infinity/ntnet.yml
  infinity/code/controllers/configuration.dm
  infinity/code/modules/modular_computers/NTNet/NTNet.dm
  infinity/code/modules/modular_computers/hardware/network_card.dm
  infinity/code/modules/research/designs/designs_modular_computer.dm
Labels: Фича

#1486 Fullscreen+
  baystation12.dme
  code/_helpers/_infinity/game.dm
  code/_helpers/_infinity/text.dm
  code/_helpers/_infinity/view.dm
  code/_helpers/text_utf.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/preferences.dm
  infinity/code/modules/client/client_procs.dm
  interface/skin.dmf
Labels: Фича

#1491 Починили Dermal фигню у ГСБ, теперь она будет по лучше от прямого дамага по мозгу
  code/modules/clothing/under/jobs/security.dm
Labels: Фикс

#1492 Контрабанда в свободный доступ, автомат актеров
  infinity/code/game/machinery/vending.dm
Labels: Ready4Review, Фича
