Repository infinitystation/Baystation12, pull requests merged in 2020-09, with the labels that each got.

#1712 Customss unchi + RK
  infinity/custom_items/general/unchi-SP00-Claire-turtleneck.json
  infinity/customs/redknighthero.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
Labels: Кастомка

#1713 Update he11d1ver.dm
  infinity/customs/he11d1ver.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
Labels: Кастомка

#1722 кастомки
  infinity/custom_items/general/Vindean-Gas-mask.json
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1723 фикс баклинга
  code/game/objects/buckling.dm
Labels: Фикс

#1721 фикс накидки резоми
  infinity/code/modules/clothing/suits/suits_resomi.dm
Labels: Фикс

#1715 Шаттл на биркет
  html/changelogs_infinity/terror4000rus - bshuttle.yml
  maps/away_inf/bearcat/bearcat-2.dmm
  maps/away_inf/bearcat/bearcat.dm
  maps/away_inf/bearcat/bearcat_areas.dm
Labels: Маппинг

#1718 SFG (sealing field generator)
  baystation12.dme
  html/changelogs_infinity/coltrane97-sfg.yml
  infinity/code/game/machinery/sealgen.dm
  infinity/icons/obj/machines/shielding.dmi
Labels: Фича

#1720 фикс страшного бага с лоуваллом
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
Labels: Фикс
