Repository infinitystation/Baystation12, pull requests merged in 2020-02, with the labels that each got.

#1423 Исправил скреллган и заменил шкафчики под крио на сауну
  baystation12.dme
  code/modules/projectiles/guns/energy/nuclear.dm
  infinity/code/game/objects/structures/stool_bed_chair_nest/chairs.dm
  infinity/icons/obj/furniture.dmi
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_areas.dm
Labels: Карта, Фикс

#1420 [WIP] Подготовка к удалению бан-тюрьмы
  baystation12.dme
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/admin.dm
  code/modules/admin/topic.dm
  infinity/code/modules/admin/IsBanprisoned.dm
  infinity/code/modules/admin/ban_messages.dm
  infinity/code/modules/admin/sql_notes.dm
  infinity/code/modules/admin/topic.dm
  test/check-paths.sh
Labels: НЕ МЕРДЖИТЬ, Нужна помощь, Оптимизация, Проверить

#1421 [WIP] IED с TG
  baystation12.dme
  infinity/code/game/objects/items/weapons/grenades/ied.dm
  infinity/icons/obj/grenades.dmi
Labels: Фича

#1427 Автоматическая блокировка шлюзов при смене кода угрозы.
  maps/sierra/sierra_procs.dm
  maps/sierra/sierra_security_state.dm
Labels: Ready4Review, Баланс, Фича

#1428 Обновление вебхуков
  baystation12.dme
  code/__defines/colors_inf.dm
  code/__defines/webhooks.dm
  code/controllers/master.dm
  code/game/gamemodes/game_mode.dm
  code/modules/webhooks/webhook_roundend.dm
  code/modules/webhooks/webhook_roundstart.dm
  infinity/code/controllers/subsystems/ticker.dm
  infinity/code/modules/admin/update/update.dm
  infinity/code/modules/webhooks/webhook_roundend.dm
  infinity/code/modules/webhooks/webhook_roundstart.dm
  infinity/code/modules/webhooks/webhook_server_start.dm
  infinity/code/modules/webhooks/webhook_server_update.dm
Labels: Оптимизация

#1429 3 палуба меняем местами чекпоинт и инструменты.
  maps/sierra/sierra-1.dmm
Labels: Ready4Review, Карта

#1432 Стыковка и доступ на шаттле ОБР.
  maps/antag_spawn/ert/ert_inf.dm
  maps/sierra/sierra-1.dmm
Labels: Карта, Фикс

#1433 Фикс чекпоинта + чейнджлог.
  html/changelogs_infinity/Archemagus.yml
  maps/sierra/sierra-1.dmm
Labels: Ready4Review, Карта

#1431 Небольшое изменение культа.
  baystation12.dme
  code/game/gamemodes/cult/ritual.dm
  infinity/code/game/gamemodes/cult/cult_items.dm
  infinity/code/game/gamemodes/cult/runes.dm
  infinity/icons/mob/onmob/onmob_eyes.dmi
  infinity/icons/obj/clothing/obj_eyes.dmi
  infinity/icons/obj/objects.dmi
Labels: Баланс, Изменение, Фича

#1424 Некоторые изменения плат
  baystation12.dme
  code/modules/integrated_electronics/core/assemblies.dm
  code/modules/integrated_electronics/subtypes/manipulation.dm
  infinity/code/modules/integrated_electronics/core/assemblies.dm
  infinity/code/modules/integrated_electronics/subtypes/manipulation.dm
Labels: Фича

#1440 Ещё одна небольшая перезапись плееров
  baystation12.dme
  code/datums/sound_player.dm
  infinity/code/game/sound.dm
  infinity/code/modules/music_player/_music_player.dm
  infinity/code/modules/music_player/_music_tape.dm
  infinity/code/modules/music_player/sprites/object.dmi
  infinity/code/modules/music_player/sprites/onmob_back.dmi
  infinity/code/modules/music_player/sprites/onmob_lefthand.dmi
  infinity/code/modules/music_player/sprites/onmob_righthand.dmi
  infinity/code/modules/music_player/subtypes_player.dm
  infinity/code/modules/music_player/subtypes_tape.dm
  infinity/custom_items/pmp/3v4ng4m1ng-Finn.json
  infinity/custom_items/pmp/5au5age-Rough.json
  infinity/custom_items/pmp/arbuzpersikov-Xuel.json
  infinity/custom_items/pmp/arhod-Abbris.json
  infinity/custom_items/pmp/arhod-Amrin.json
  infinity/custom_items/pmp/byxloy-Phoenix.json
  infinity/custom_items/pmp/coltrane97-Iris.json
  infinity/custom_items/pmp/coltrane97-Kayden.json
  infinity/custom_items/pmp/coltrane97-Miguel.json
  infinity/custom_items/pmp/coltrane97-Ta.json
  infinity/custom_items/pmp/deda565-Wayne.json
  infinity/custom_items/pmp/diesiege-Eva.json
  infinity/custom_items/pmp/diesiege-Nyreen.json
  infinity/custom_items/pmp/doctorducky-Marc.json
  infinity/custom_items/pmp/elar-Alex.json
  infinity/custom_items/pmp/elloncake-Selachii.json
  infinity/custom_items/pmp/evgen00751-Andy.json
  infinity/custom_items/pmp/farwa87-Adelina.json
  infinity/custom_items/pmp/forrya-Niyarkszherch.json
  infinity/custom_items/pmp/furrydog-Niar.json
  infinity/custom_items/pmp/interl0per-Quark.json
  infinity/custom_items/pmp/ka6a4ok-Mike.json
  infinity/custom_items/pmp/kordvik-Lyx.json
  infinity/custom_items/pmp/korramy-Quentin.json
  infinity/custom_items/pmp/m1am1-Edward.json
  infinity/custom_items/pmp/morikawacinatsu-Henry.json
  infinity/custom_items/pmp/mrkayde-kiyaka.json
  infinity/custom_items/pmp/redknighthero-Robert.json
  infinity/custom_items/pmp/s1334-Remi.json
  infinity/custom_items/pmp/s1334-WP.json
  infinity/custom_items/pmp/sallyvadordomold-Denis.json
  infinity/custom_items/pmp/sallyvadordomold-Sally.json
  infinity/custom_items/pmp/thehero13-Jake.json
  infinity/custom_items/pmp/unbidden-Milo.json
  infinity/custom_items/pmp/vankoska-Terill.json
  infinity/custom_items/pmp/wheatley2013-Joshua.json
  infinity/custom_items/pmp/wheatley2013-Sergey.json
  infinity/custom_items/pmp/wheatley2013-Shaisa.json
  infinity/custom_items/pmp/xharlemix-Henry.json
  infinity/customs/csplayer.dm
  infinity/icons/obj/music_player.dmi
  infinity/sound/effects/using/switch/small1.ogg
  infinity/sound/effects/using/switch/small2.ogg
Labels: WIP, Оптимизация

#1441 Пробуем фиксить выдачу языков ученикам
  code/modules/spells/artifacts/spellbound_servants.dm
Labels: Проверить, Фикс

#1449 фиксим космос
  code/game/turfs/space/space.dm
Labels: Костыль

#1448 Обновление генокрадов
  baystation12.dme
  code/game/gamemodes/changeling/infinity/changeling_birth.dm
  code/game/gamemodes/changeling/infinity/changeling_powers.dm
  code/game/gamemodes/changeling/infinity/modularchangling.dm
  code/game/objects/effects/decals/Cleanable/humans.dm
  code/game/objects/items/devices/scanners/xenobio.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/breathe.dm
  code/modules/organs/internal/species/nabber.dm
  html/changelogs_infinity/example - копия.yml
  infinity/code/game/gamemodes/mixed/other.dm
  infinity/code/game/objects/effects/spawners/gibspawner.dm
  infinity/code/modules/mob/living/eye_blink.dm
  infinity/sound/magic/demon_consume.ogg
  test/check-paths.sh
Labels: Изменение, Фикс, Фича

#1453 Спрайты для Таяран
  code/modules/clothing/head/helmet.dm
  html/changelogs_infinity/moonmen-vetka.yml
  icons/mob/species/tajaran/helmet.dmi
  icons/mob/species/tajaran/suit.dmi
  maps/sierra/items/rigs.dm
Labels: Спрайты

#1444 Фикс проверки хирургии для грипперов
  code/modules/surgery/surgery.dm
Labels: Фикс
