Repository infinitystation/Baystation12, pull requests merged in 2020-04, with the labels that each got.

#1496 Увеличиваем урон и бронепробитие, делаем из амрблейда настоящий блейд…
  code/modules/augment/active/armblades.dm
Labels: Баланс

#1501 Обновление лобби инженеров
  html/changelog_infinity.html
  html/changelogs_infinity/.all_changelog.yml
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra_areas.dm
Labels: Маппинг

#1499 Gloves layers
  baystation12.dme
  code/modules/mob/living/carbon/human/update_icons.dm
  html/changelogs_infinity/[DieSiege]-[Gloves].yml
  infinity/code/modules/clothing/clothing.dm
Labels: Фича

#1510 Разделяем бар на кафе и него же
  html/changelogs_infinity/example - копия.yml
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra_areas.dm
Labels: Маппинг

#1511 Sexscanner
  code/game/machinery/ai_slipper.dm
  infinity/code/game/machinery/security_scanner.dm
Labels: Ready4Review, Фикс

#1512 Изменяем генок
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/changeling/infinity/objects/cocoon.dm
  code/game/gamemodes/changeling/infinity/powers/absorb.dm
  code/modules/mob/language/alien/antag.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs_infinity/example - копия.yml
  infinity/code/game/antagonist/station/changeling.dm
  infinity/code/game/gamemodes/objective.dm
  test/check-paths.sh
Labels: Баланс, Фича

#1516 Починка вентеляции шлюзов
  code/game/machinery/embedded_controller/airlock_controllers.dm
  code/game/machinery/embedded_controller/airlock_docking_controller.dm
  code/modules/shuttles/escape_pods.dm
  html/changelogs_infinity/Archemagus.yml
  maps/away_inf/rubbidu/rubbidu.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_shuttles.dm
Labels: Маппинг, Оптимизация, Фикс

#1519 Кастомка Адро244
  baystation12.dme
  infinity/custom_items/general/adro244-Juggernaut-set.json
  infinity/customs/adro244_Hephaestus_outfit.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1520 AtlasCustom
  baystation12.dme
  infinity/custom_items/general/Atlas-Bundit-armor.json
  infinity/custom_items/general/Atlas-Bundit-helmet.json
  infinity/custom_items/general/Atlas-Bundit-uniform.json
  infinity/customs/atlas.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1525 Фикс иконок ОБР на секхуде
  code/game/jobs/access.dm
  code/modules/mob/living/carbon/human/life.dm
Labels: Фикс

#1526 Малый апдейт конфига Тревиса по его рекомендациям
  .travis.yml
Labels: Оптимизация
