Repository infinitystation/Baystation12, pull requests merged in 2020-07, with the labels that each got.

#1619 Витли -радио
  code/modules/admin/admin_verbs.dm
  infinity/custom_items/pmp/wheatley2013-Joshua.json
  infinity/custom_items/pmp/wheatley2013-Sergey.json
  infinity/custom_items/pmp/wheatley2013-Shaisa.json
  test/check-paths.sh
Labels: Кастомка

#1622 Форрина и Адро кастомки
  infinity/customs/forrya_custom.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_synthetic.dmi
Labels: Кастомка

#1626 Запрет летающим херням выпрыгивать из мусорки
  code/modules/recycling/disposal.dm
Labels: Фикс

#1630 Latejoin
  code/game/jobs/job/job.dm
  code/modules/mob/new_player/new_player.dm
  html/browser/playeroptions.css
  html/changelogs_infinity/Archemagus.yml
  maps/sierra/job/jobs_command.dm
Labels: Фича

#1627 Убираю "съедание" этой чудовищной сумкой части руки. (waist_pack)
  code/game/objects/items/weapons/storage/belt.dm
  icons/mob/onmob/infinity/onmob_belt.dmi
Labels: Спрайты

#1631 DeadLizard
  baystation12.dme
  infinity/custom_items/general/DeadLizard-poster.json
  infinity/custom_items/pmp/DeadLizard-Rasi.json
  infinity/customs/deadlizard.dm
Labels: Кастомка

#1633 YACHT
  maps/away_inf/yacht/yacht.dm
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг, Фича

#1635 Casly-guitar
  infinity/custom_items/general/Casly-guitar.json
Labels: Кастомка

#1623 Фиксы заданий
  code/game/antagonist/station/changeling.dm
  code/game/gamemodes/objective.dm
  html/changelogs_infinity/example - копия.yml
  infinity/code/game/antagonist/station/changeling.dm
  infinity/code/game/gamemodes/objective.dm
Labels: Изменение, Фикс

#1642 Корректируем профессии для latejoin menu
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_misc.dm
Labels: Фикс

#1643 Новый спрайт РИГа ГСБ
  html/changelogs_infinity/terror4000rus - hosrig.yml
  infinity/icons/mob/onmob/onmob_feet.dmi
  infinity/icons/mob/onmob/onmob_hands.dmi
  infinity/icons/mob/onmob/onmob_head.dmi
  infinity/icons/mob/onmob/onmob_rig_back.dmi
  infinity/icons/mob/onmob/onmob_suit.dmi
  infinity/icons/obj/clothing/obj_feet.dmi
  infinity/icons/obj/clothing/obj_hands.dmi
  infinity/icons/obj/clothing/obj_head.dmi
  infinity/icons/obj/clothing/obj_suit.dmi
  infinity/icons/obj/rig_modules.dmi
  maps/sierra/items/rigs.dm
Labels: Спрайты

#1639 Рефактор зомби 2
  baystation12.dme
  code/__defines/_inf/_inf.mobs.dm
  code/modules/mob/transform_procs.dm
  code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
  html/changelogs_infinity/smartkar_zombies.yml
  infinity/code/game/objects/items/weapons/zombie.dm
  infinity/code/modules/organs/internal/zombie.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Toxins.dm
Labels: Спорно, Фича

#1647 Форма секьюрити
  infinity/code/modules/clothing/under/under_bluebrig.dm
Labels: Спрайты

#1646 Yacht
  maps/away_inf/yacht/yacht.dm
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг

#1645 Херо13 плеер
  infinity/custom_items/pmp/The_Hero13-Jonn.json
Labels: Кастомка

#1625 Дорабатываем пробуждение в крио-капсулах
  baystation12.dme
  code/modules/client/preferences_spawnpoints.dm
  code/modules/mob/living/carbon/human/human.dm
  html/changelogs_infinity/terror4000rus.yml
  infinity/code/datums/spawnpoints/cryo/advices.dm
  infinity/code/datums/spawnpoints/cryo/effects.dm
Labels: Изменение

#1654 emailingmail
  maps/sierra/sierra_ranks.dm
Labels: WIP, Изменение

#1661 Фикс хвостов бустеров
  infinity/code/modules/sprite_accessories/accessory_booster.dm
Labels: Фикс

#1665 Фикс мерджа
  code/_onclick/hud/chorus.dm
  code/_onclick/hud/pai.dm
  code/datums/trading/trade_response.dm
  code/game/antagonist/outsider/chorus.dm
  code/game/gamemodes/chorus/chorus.dm
  code/game/machinery/nuke_cylinder_dispenser.dm
  code/modules/mob/living/chorus/_defines.dm
  code/modules/mob/living/chorus/buildings/blueprint_obj.dm
  code/modules/mob/living/chorus/buildings/building_chorus.dm
  code/modules/mob/living/chorus/buildings/building_datum.dm
  code/modules/mob/living/chorus/buildings/generic.dm
  code/modules/mob/living/chorus/buildings/growth/growth_base.dm
  code/modules/mob/living/chorus/buildings/growth/tier_five.dm
  code/modules/mob/living/chorus/buildings/growth/tier_one.dm
  code/modules/mob/living/chorus/buildings/growth/tier_three.dm
  code/modules/mob/living/chorus/buildings/growth/tier_two.dm
  code/modules/mob/living/chorus/chorus.dm
  code/modules/mob/living/chorus/chorus_browser.dm
  code/modules/mob/living/chorus/chorus_building.dm
  code/modules/mob/living/chorus/chorus_click.dm
  code/modules/mob/living/chorus/chorus_end.dm
  code/modules/mob/living/chorus/chorus_followers.dm
  code/modules/mob/living/chorus/chorus_form.dm
  code/modules/mob/living/chorus/chorus_life.dm
  code/modules/mob/living/chorus/chorus_pylon.dm
  code/modules/mob/living/chorus/chorus_resources.dm
  code/modules/mob/living/chorus/chorus_say.dm
  code/modules/mob/living/chorus/chorus_topic.dm
  code/modules/mob/living/chorus/forms/form_datum.dm
  code/modules/mob/living/chorus/forms/growth.dm
  code/modules/mob/living/chorus/resources/chorus_resource.dm
  code/modules/mob/living/simple_animal/friendly/juvenile_space_whale.dm
  code/modules/mob/living/simple_animal/hostile/retaliate/space_whale.dm
  code/modules/mob/observer/following.dm
  maps/away/meatstation/meatstation.dm
  maps/away/meatstation/meatstation_areas.dm
  maps/away/miningstation/miningstation.dm
  maps/away/miningstation/miningstation_areas.dm
  maps/random_ruins/exoplanet_ruins/oldlab/oldlab.dm
  maps/sierra/sierra-1.dmm
Labels: ВАЖНО!, Фикс

#1651 Байки в карго.
  code/datums/supplypacks/science.dm
Labels: Спорно, Фича

#1658 Чимим материал мусора
  baystation12.dme
  code/__defines/_inf/_inf.materials.dm
  code/modules/item_worth/materials.dm
  code/modules/materials/material_sheets.dm
  infinity/code/modules/item_worth/materials.dm
  infinity/code/modules/materials/definitions/materials_other.dm
  infinity/code/modules/materials/material_sheets.dm
  infinity/code/modules/scrap/scrap_refinery.dm
Labels: Фикс

#1640 Перевод новостей
  code/game/machinery/newscaster.dm
  code/modules/economy/Events_Mundane.dm
  html/changelogs_infinity/terror4000rus - news.yml
Labels: Изменение

#1660 Фикс блокировки воздуха барьерами
  infinity/code/game/objects/structures/barrier.dm
Labels: Фикс

#1656 Фиксим анимацию и бафаем петлю
  infinity/code/game/objects/noose.dm
Labels: Фикс

#1669 Ввод в ротацию авеек бэя
  maps/away/meatstation/meatstation.dm
  maps/away/miningstation/miningstation.dm
  maps/away_inf/miningstation/miningstation.dmm
  maps/sierra/sierra.dm
Labels: Маппинг, Фикс

#1676 Иконки Адро-борга
  infinity/icons/customs/infinity_custom_synthetic.dmi
Labels: Кастомка

#1674 Убираем абуз клёна в карго
  code/datums/supplypacks/materials.dm
  html/changelogs_infinity/terror4000rus-cargo_abuse.yml
Labels: Фикс

#1672 Биркет. Роль капитана становится ролью первого помощника
  html/changelogs_infinity/terror4000rus-mate.yml
  maps/away_inf/bearcat/bearcat_jobs.dm
Labels: Изменение

#1671 ИПК больше не может быть менталистом
  html/changelogs_infinity/terror4000rus-mental.yml
  maps/sierra/job/jobs.dm
Labels: Изменение

#1670 Правлю кастомку Азры, спрайты, их пути и так далее.
  infinity/custom_items/general/asriel15-Zimmer-locket.json
  infinity/customs/asriel.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#1621 Merge? Merge!
  code/game/antagonist/station/god_cult.dm
  code/modules/mob/observer/freelook/following.dm
  maps/away/meatstation/meatstation.dm
  maps/away/miningstation/miningstation.dm
  maps/away_inf/miningstation/miningstation.dmm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra.dm
  maps/torch/loadout/loadout_storage.dm
Labels: ВАЖНО!, НЕ МЕРДЖИТЬ
