Repository infinitystation/Baystation12, pull requests merged in 2020-06, with the labels that each got.

#1550 Переезд ИИ и изменения первой и второй палубы
  html/changelogs_infinity/ai_moving.yml
  html/changelogs_infinity/example.yml
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_areas.dm
Labels: Маппинг

#1580 Защита от дурака для вебхука
  baystation12.dme
  code/modules/webhooks/__webhook_sanitize_inf.dm
  code/modules/webhooks/_webhook.dm
  infinity/code/modules/webhooks/webhook_xeno_whitelist.dm
Labels: Оптимизация, Фича

#1577 Система случайных скайбоксов и новые скайбоксы
  baystation12.dme
  code/_macros_inf.dm
  code/controllers/subsystems/skybox.dm
  code/game/gamemodes/cult/hell_universe.dm
  code/game/gamemodes/endgame/supermatter_cascade/universe.dm
  code/modules/admin/admin_verbs.dm
  html/changelogs_infinity/random_sky.yml
  infinity/code/datums/skybox_data/_datum_skybox_data.dm
  infinity/code/datums/skybox_data/beidge_nebula.dm
  infinity/code/datums/skybox_data/green_nebula_river.dm
  infinity/code/datums/skybox_data/near_star.dm
  infinity/code/datums/skybox_data/purple_nebula.dm
  infinity/code/datums/skybox_data/skybox_default.dm
  infinity/code/datums/skybox_data/skybox_galactic.dm
  infinity/code/datums/skybox_data/skybox_green_nebula.dm
  infinity/code/datums/skybox_data/skybox_red_nebula.dm
  infinity/code/datums/skybox_data/star_in_far.dm
  infinity/code/datums/skybox_data/turqoize_nebula.dm
  infinity/code/modules/admin/verbs/skybox.dm
  infinity/icons/skybox/beige_nebula.dmi
  infinity/icons/skybox/green_nebula_river.dmi
  infinity/icons/skybox/purple_nebula.dmi
  infinity/icons/skybox/skybox_galactic.dmi
  infinity/icons/skybox/skybox_green.dmi
  infinity/icons/skybox/skybox_red.dmi
  infinity/icons/skybox/star_in_far.dmi
  infinity/icons/skybox/star_near.dmi
  infinity/icons/skybox/turqoize_nebula.dmi
Labels: Фича

#1583 Фиксы "стыковки" всех шаттлов 3 палубы. + доступ ЭК инжам на Хароне
  maps/antag_spawn/heist/heist_base_inf.dmm
  maps/antag_spawn/heist/heist_inf.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra_shuttles.dm
Labels: Маппинг, Фикс

#1586 Elloncake glove + Unchi turtleneck CUSTOMS
  baystation12.dme
  infinity/custom_items/general/elloncake-selachii-gloves.json
  infinity/custom_items/general/unchi-Agneshka-turtleneck.json
  infinity/customs/unchi_turtleneck.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1590 Система генерации цветных щитов
  code/modules/shield_generators/modes.dm
  code/modules/shield_generators/shield.dm
  code/modules/shield_generators/shield_generator.dm
  code/modules/xenoarcheaology/effects/forcefield.dm
  infinity/icons/obj/machines/shielding.dmi
Labels: Спрайты, Фича

#1589 Решением главы ксенокома. Снижение возможности автоспавна ахсентов до нуля. Исправление текста ахсентов в начале игры.
  maps/away/ascent/ascent.dm
  maps/away/ascent/ascent_jobs.dm
  maps/away_inf/ascent/ascent.dm
Labels: Спорно

#1556 Повреждения термогенераторов
  code/modules/power/generator.dm
  html/changelogs_infinity/vasgen40k-PR.yml
  nano/templates/generator.tmpl
Labels: Фича

#1593 Чиним сушилку и очепятки ССУ, Протокола ТЕНь
  code/game/machinery/kitchen/smartfridge.dm
  code/game/machinery/nuclear_bomb.dm
  maps/sierra/items/manuals.dm
Labels: Фикс

#1582 Новое ядро ИИ, много правок к оперативной и жилой палубе.
  .gitignore
  code/_macros_inf.dm
  code/controllers/configuration.dm
  code/controllers/subsystems/jobs.dm
  code/game/area/areas.dm
  code/game/jobs/job/job.dm
  code/game/machinery/vending.dm
  code/game/objects/random/random.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/mob/new_player/new_player.dm
  code/modules/reagents/reagent_containers/food/snacks.dm
  html/changelogs_infinity/elar.yml
  html/changelogs_infinity/example.yml
  infinity/code/controllers/configuration.dm
  infinity/code/game/objects/random/random.dm
  infinity/icons/obj/plants.dmi
  infinity/icons/turf/areas.dmi
  maps/away_inf/mining/mining.dm
  maps/sierra/backup/sierra-2.dmm
  maps/sierra/backup/sierra-3.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_areas.dm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_elevator.dm
  maps/sierra/sierra_unit_testing.dm
Labels: Маппинг

#1602 Фикс спавна боргов в крио, маптвики карты, отключение торговцев
  code/controllers/subsystems/jobs.dm
  code/game/jobs/job/job.dm
  code/game/machinery/vending.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/mob/new_player/new_player.dm
  html/changelogs_infinity/sera_fix_changelocs.yml
  maps/sierra/job/jobs_misc.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
Labels: Изменение, Маппинг, Фикс

#1485 Фичи синдиката
  baystation12.dme
  code/datums/uplink/devices and tools.dm
  code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  code/datums/uplink/stealthy_and_inconspicuous_weapons.dm
  code/game/objects/items/weapons/explosives.dm
  code/game/objects/items/weapons/grenades/flashbang.dm
  code/modules/clothing/spacesuits/syndi.dm
  code/modules/mechs/premade/combat.dm
  code/modules/projectiles/guns/energy/stun.dm
  code/modules/projectiles/guns/projectile/pistol.dm
  infinity/code/datums/uplink/ammunition.dm
  infinity/code/datums/uplink/armor.dm
  infinity/code/datums/uplink/badassery.dm
  infinity/code/datums/uplink/devices and tools.dm
  infinity/code/datums/uplink/grenades.dm
  infinity/code/datums/uplink/highly_visible_and_dangerous_weapons.dm
  infinity/code/datums/uplink/implants.dm
  infinity/code/datums/uplink/services.dm
  infinity/code/game/objects/items/contraband.dm
  infinity/code/game/objects/items/devices/syndietele.dm
  infinity/code/game/objects/items/encryptionkey.dm
  infinity/code/game/objects/items/weapons/explosives.dm
  infinity/code/game/objects/items/weapons/grenades/special.dm
  infinity/code/game/objects/items/weapons/implants/adrenal.dm
  infinity/code/game/objects/items/weapons/implants/emp.dm
  infinity/code/game/objects/items/weapons/storage/uplink_kits.dm
  infinity/code/game/objects/items/weapons/syndie_special.dm
  infinity/code/game/objects/items/weapons/tanks.dm
  infinity/code/modules/clothing/spacesuits/void/syndie.dm
  infinity/code/modules/clothing/spacesuits/void/voidsuits.dm
  infinity/code/modules/clothing/suits/armor.dm
  infinity/code/modules/mechs/armour.dm
  infinity/code/modules/mechs/guns.dm
  infinity/code/modules/mechs/premade/combat.dm
  infinity/code/modules/mob/living/silicon/robot/modules/syndicate_combat.dm
  infinity/code/modules/mob/living/silicon/robot/modules/syndicate_medic.dm
  infinity/code/modules/projectiles/ammunition/boxes.dm
  infinity/code/modules/projectiles/guns/projectile/shotgun.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Other.dm
  infinity/code/modules/reagents/reagents_containers/hypospray.dm
  infinity/icons/effects/effects.dmi
  infinity/icons/mob/onmob/onmob_head.dmi
  infinity/icons/mob/onmob/onmob_suit.dmi
  infinity/icons/mob/robots.dmi
  infinity/icons/obj/assemblies.dmi
  infinity/icons/obj/clothing/obj_head.dmi
  infinity/icons/obj/clothing/obj_suit.dmi
  infinity/icons/obj/door_charge.dmi
  infinity/icons/obj/guns/pistol_throwback.dmi
  infinity/icons/obj/syndiejaunter.dmi
  maps/sierra/datums/supplypacks/security.dm
Labels: Баланс, Фича

#1613 Блюспейс и боты
  code/game/gamemodes/endgame/bluespace_jump/bluespace_jump.dm
  html/changelogs_infinity/Archemagus.yml
Labels: Фикс

#1614 Хоткеи минус опечатки
  html/changelogs_infinity/Archemagus.yml
  interface/interface.dm
Labels: Фикс

#1616 Бланк регистрации оружия
  html/changelogs_infinity/Archemagus.yml
  maps/sierra/datums/reports/security.dm
Labels: Фича

#1617 Адро, ММГ, Фолтинис, 3v4nG4m1ng кастомки. Переработка термальных штанов.
  config/custom_sprites.txt
  infinity/code/modules/clothing/under/thermal.dm
  infinity/custom_items/general/3v4nG4m1ng-guitar.json
  infinity/custom_items/pmp/Foltynis-Ezra.json
  infinity/custom_items/pmp/MMGY-Lee.json
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/customs/infinity_custom_synthetic.dmi
Labels: Кастомка
