Repository infinitystation/Baystation12, pull requests merged in 2021-07, with the labels that each got.

#2057 Кастомка Рекса
  baystation12.dme
  infinity/code/modules/clothing/suits/suits_hooded.dm
  infinity/custom_items/general/he11d1ver-Aard-pcarrier.json
  infinity/custom_items/general/he11d1ver-Aard-pcrc_helmcover.json
  infinity/customs/he11d1ver.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2059 Фикс
  infinity/customs/he11d1ver.dm
Labels: Кастомка

#2060 Кастомки Рекса и Кота
  infinity/custom_items/general/thehero13-Alex-meshok.json
  infinity/customs/he11d1ver.dm
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2061 Еще два кастомки.
  infinity/custom_items/general/Foltynis.-meshok-Angel.json
  infinity/custom_items/general/MrNicolas-meshok-Valera.json
  infinity/customs/he11d1ver.dm
Labels: Кастомка

#2064 Ограничения
  infinity/custom_items/general/Foltynis.-meshok-Angel.json
  infinity/custom_items/general/MrNicolas-meshok-Valera.json
  infinity/custom_items/general/he11d1ver-Aard-meshok.json
  infinity/custom_items/general/thehero13-Alex-meshok.json
  infinity/custom_items/general/wolforbykot-kegan-suit.json
Labels: Кастомка

#2062 Добавляем рубашки и цветные туфли в лодаут
  infinity/code/modules/clothing/under/under.dm
  maps/sierra/loadout/loadout_shoes.dm
  maps/sierra/loadout/loadout_uniform.dm
Labels: Маппинг

#2066 респрайт кастомки
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Спрайты

#2067 Кастомка DieSiege
  infinity/customs/diesiege.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2069 Я переводчик, и перевожу.
  code/controllers/subsystems/jobs.dm
  code/modules/client/preference_setup/occupation/occupation.dm
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_misc.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/job/jobs_service.dm
Labels: Маппинг

#2070 Вы знаете, я своего рода Директор Исследований.
  maps/sierra/items/encryption_keys.dm
  maps/sierra/items/headsets.dm
  maps/sierra/job/outfits.dm
Labels: Маппинг

#2072 маленькая заплатка
  maps/sierra/job/jobs_command.dm
Labels: Маппинг

#2073 Я бюрократ.
  code/modules/modular_computers/NTNet/emails/email_account.dm
  code/modules/modular_computers/file_system/programs/generic/reports.dm
  code/modules/modular_computers/file_system/reports/report.dm
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/deck.dm
  maps/sierra/datums/reports/engineering.dm
  maps/sierra/datums/reports/exploration.dm
  maps/sierra/datums/reports/general.dm
  maps/sierra/datums/reports/iaa.dm
  maps/sierra/datums/reports/medical.dm
  maps/sierra/datums/reports/science.dm
  maps/sierra/datums/reports/security.dm
  maps/sierra/sierra.dm
Labels: Маппинг

#2071 Доработка кастомок по просьбам заказчиков
  infinity/custom_items/general/sad-ninja-sid-sidnie-revolver.json
  infinity/custom_items/general/thehero13-Jake-inf.json
  infinity/customs/sad_ninja_sid.dm
  infinity/customs/thehero13.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2080 Кастомка Адро и фиксы
  baystation12.dme
  infinity/code/game/objects/items/weapons/storage/backpack_large.dm
  infinity/custom_items/general/adro244-IPC.json
  infinity/customs/adro.dm
  infinity/customs/adro244.dm
  infinity/icons/customs/infinity_custom_guns.dmi
  infinity/icons/customs/infinity_custom_guns_slot_l_hand.dmi
  infinity/icons/customs/infinity_custom_guns_slot_r_hand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#1999 Больше никакого криворукого баланса
  code/datums/uplink/ammunition.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/mob_helpers.dm
  code/modules/projectiles/projectile/beams.dm
  code/modules/projectiles/projectile/bullets.dm
  code/modules/projectiles/projectile/energy.dm
  code/modules/projectiles/projectile/magnetic.dm
Labels: Баланс, Спорно, Требует обсуждения

#2037 Меняем требование к заказу ящика NT41 с синего на красный
  maps/sierra/datums/supplypacks/security.dm
Labels: Маппинг

#2086 Окей, я слепой.
  maps/sierra/datums/reports/command.dm
Labels: Маппинг

#2087 Фикс кастомки Адро
  infinity/custom_items/general/adro244-IPC.json
  infinity/customs/adro244.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2088 Исправления кастомок + Фикс одежды Сентинеля
  infinity/customs/asriel.dm
  infinity/customs/wolforbykot.dm
  maps/away_inf/sentinel/sentinel_items.dm
Labels: Кастомка, Маппинг

#2094 Исправления на Либерии
  maps/away_inf/liberia/liberia.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_navpoints.dm
  maps/sierra/sierra_shuttles.dm
Labels: Маппинг

#2095 [Факел] Исправление военной униформы
  maps/away_inf/sentinel/sentinel_items.dm
  maps/torch/items/clothing/solgov-under.dm
Labels: Маппинг

#2102 Фиксим спрайт ворона
  infinity/icons/mob/onmob/items/mob_holder.dmi
Labels: Спрайты

#2108 Изменение описания кастомки
  infinity/customs/unchi_turtleneck.dm
Labels: Кастомка

#2019 Порт исправления плавного глайдинга из SS220
  code/__defines/client.dm
  code/__defines/movement.dm
  code/controllers/configuration.dm
  code/datums/movement/atom_movable.dm
  code/datums/movement/mob.dm
  code/game/atoms_movable.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/mob/living/carbon/alien/diona/gestalt/_gestalt.dm
  code/modules/mob/living/living.dm
  code/modules/mob/mob_defines.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/observer/ghost/ghost.dm
  code/modules/organs/external/_external.dm
  code/modules/pointdefense/pointdefense.dm
  config/example/config.txt
  infinity/code/game/machinery/security_scanner.dm
Labels: Оптимизация, Фича

#2110 Кастомка
  infinity/custom_items/general/asriel15-Cecilia-meshok.json
Labels: Кастомка

#2111 Кастомка и плащи для брони
  baystation12.dme
  infinity/code/modules/clothing/suits/armor.dm
  infinity/custom_items/general/hacso-coat.json
  infinity/customs/hacso.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2092 Небольшой бафф/ребаланс зомбей
  code/modules/species/outsider/zombie.dm
Labels: Баланс

#2105 Фикс говна СНС
  maps/sierra/job/jobs_research.dm
Labels: Маппинг

#2124 Кастомка
  baystation12.dme
  infinity/customs/forrya.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2101 Я ещё больший бюрократ..
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/deck.dm
  maps/sierra/datums/reports/engineering.dm
  maps/sierra/datums/reports/exploration.dm
  maps/sierra/datums/reports/general.dm
  maps/sierra/datums/reports/iaa.dm
  maps/sierra/datums/reports/medical.dm
  maps/sierra/datums/reports/science.dm
  maps/sierra/datums/reports/security.dm
Labels: Маппинг

#2132 Фиксим кастомку
  infinity/customs/he11d1ver.dm
Labels: Кастомка

#2134 Плащ из змеиной кожи в лодаут
  infinity/code/modules/clothing/suits/suits.dm
  infinity/icons/mob/onmob/onmob_suit.dmi
  infinity/icons/obj/clothing/obj_suit.dmi
  maps/sierra/loadout/loadout_suit.dm
Labels: Маппинг, Спрайты

#2126 Изменяем onmob-спрайт кастомки Sad Ninja Sid
  infinity/icons/customs/infinity_custom_items_mob.dmi
Labels: Спрайты

#2128 очередной фикс бумажки
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/deck.dm
  maps/sierra/datums/reports/security.dm
Labels: Маппинг

#2135 Добавляем кастомку Миханова и Кекмана
  code/modules/clothing/spacesuits/rig/rig.dm
  infinity/custom_items/general/mixanovr64-michael-white-rig.json
  infinity/custom_items/general/thekekman666-Russel-crowbar.json
  infinity/custom_items/general/thekekman666-Russel-hevy.json
  infinity/customs/diesiege.dm
  infinity/customs/mixanovr64.dm
  infinity/customs/thekekman.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/sound/customs/thekekman666/crowbar/crowbar_attack_self.ogg
  infinity/sound/customs/thekekman666/hevy_suit/hevy_suit_attack_by.ogg
  infinity/sound/customs/thekekman666/hevy_suit/hevy_suit_destroyed.ogg
Labels: Кастомка, Спрайты

#2150 Перенос кастомки
  infinity/custom_items/general/unchi-Agneshka-guitar.json
Labels: Кастомка

#2151 Кастомка
  infinity/custom_items/general/hodovoy-suit-armor.json
  infinity/customs/hodovoy.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2148 Добавление фонарика-ручки в лодаут.
  maps/sierra/loadout/loadout_accessories.dm
Labels: Маппинг

#2153 Добавляем кастомку Niga2012
  baystation12.dme
  infinity/custom_items/general/niga2012-Hugo-greatcoat.json
  infinity/custom_items/general/niga2012-vox-rig.json
  infinity/customs/niga2012.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2154 Моя кастомка имени меня
  infinity/custom_items/general/s1334-Quires-kilkauni.json
  infinity/customs/kilka.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2155 Добавляем кастомку DieSiege и ComradeSuhov
  infinity/custom_items/general/ComradeSuhov-Poraz-Sombrero.json
  infinity/custom_items/general/diesiege-Megan-booze.json
  infinity/customs/diesiege.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2160 Добавляем кастомки Forrya, Ayadanger, Mixanovr64
  baystation12.dme
  infinity/custom_items/general/ayadanger-Ferdinand-sabi-set.json
  infinity/custom_items/general/forrya-rig-acu.json
  infinity/custom_items/general/mixanovr64-Smyrnov-sabre.json
  infinity/customs/ayadanger.dm
  infinity/customs/forrya.dm
  infinity/customs/mixanovr64.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2166 Мелкофиксы кастомок
  infinity/custom_items/general/ayadanger-Ferdinand-sabi-set.json
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
Labels: Кастомка, Спрайты

#2167 Фикс кастомок
  infinity/customs/forrya.dm
  infinity/customs/hodovoy.dm
Labels: Кастомка

#2171 Кастомка
  infinity/custom_items/general/wolforbykot-kegan-kurtka.json
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2175 Кастомка coiscin
  baystation12.dme
  infinity/custom_items/general/coiscin-suit.json
  infinity/customs/coiscin.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2177 Кастомка моя кастомка
  baystation12.dme
  infinity/code/modules/clothing/under/under_hooded.dm
  infinity/custom_items/general/s1334-med.json
  infinity/customs/kilka.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2179 Я обожаю члены
  infinity/customs/kilka.dm
Labels: Кастомка
