Repository infinitystation/Baystation12, pull requests merged in 2021-03, with the labels that each got.

#1845 5th Fleet MPC Away Site.
  html/changelogs_infinity/Kirovreporting.yml
  maps/away_inf/patrol/patrol.dm
  maps/away_inf/patrol/patrol.dmm
  maps/away_inf/patrol/patrol_areas.dm
  maps/away_inf/patrol/patrol_crew.dm
  maps/away_inf/patrol/patrol_items.dm
  maps/away_inf/patrol/patrol_machinery.dm
  maps/away_inf/patrol/patrol_shuttle.dm
  maps/away_inf/sentinel/sentinel-1.dmm
  maps/away_inf/sentinel/sentinel-2.dmm
  maps/away_inf/sentinel/sentinel.dm
  maps/away_inf/sentinel/sentinel_areas.dm
  maps/away_inf/sentinel/sentinel_crew.dm
  maps/away_inf/sentinel/sentinel_datums.dm
  maps/away_inf/sentinel/sentinel_items.dm
  maps/away_inf/sentinel/sentinel_presets.dm
  maps/away_inf/sentinel/sentinel_shuttle.dm
  maps/away_inf/sentinel/sentinel_structures.dm
  maps/away_inf/sentinel/sentinel_turbolift.dm
  maps/sierra/sierra.dm
Labels: Баланс, Маппинг, Удаление, Фича

#1855 Sentinel Map Fixes
  maps/away_inf/sentinel/sentinel-1.dmm
  maps/away_inf/sentinel/sentinel-2.dmm
Labels: Маппинг

#1838 Расширяем топливное хранилище и немного других штук
  html/changelogs_infinity/sidveld-pr-#1838.yml
  maps/sierra/items/headsets.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#1842 Charon remap
  html/changelogs_infinity/Zhuzhila_remap.yml
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away_inf/yacht/yacht.dmm
  maps/sierra/areas/shuttles.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra_shuttles.dm
Labels: Баланс, Маппинг, Фича

#1856 Charon remap (#1842)
  html/changelogs_infinity/Zhuzhila_remap.yml
  maps/away/errant_pisces/errant_pisces.dmm
  maps/away/slavers/slavers_base.dmm
  maps/away_inf/yacht/yacht.dmm
  maps/sierra/areas/shuttles.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra_shuttles.dm
Labels: Баланс, Маппинг

#1865 Fixes
  baystation12.dme
  code/game/objects/buckling.dm
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  code/modules/client/client_procs.dm
  code/modules/client/preference_setup/antagonism/01_candidacy.dm
  code/modules/economy/Events_Mundane.dm
  html/images/foundlogo.png
  infinity/custom_items/general/nicroz-Sybilla-psibriefcase.json
  infinity/customs/nicroz.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_shuttles.dm
  maps/sierra/job/jobs.dm
  maps/sierra/sierra_antagonism.dm
  maps/sierra/sierra_setup.dm
Labels: Кастомка, Маппинг, Фикс
