Repository infinitystation/Baystation12, pull requests merged in 2021-08, with the labels that each got.

#2180 Кастомка Грустного Сида
  infinity/custom_items/general/sad-ninjga-sid.json
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2185 Кастомка Хиро
  infinity/custom_items/general/thehero13-screllhelmet.json
  infinity/customs/thehero13.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2188 Кастомка Адро.
  infinity/custom_items/general/adro244-cybercoat.json
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2192 кастомка для НЯкроза
  infinity/custom_items/general/nicroz-gun.json
Labels: Кастомка

#2199 Добавление паспортов и ксенодокументов
  code/game/objects/items/passport.dm
  maps/sierra/items/items.dm
  maps/sierra/loadout/loadout_xeno.dm
Labels: Маппинг

#2201 Бумажки, бумажки. Больше.
  maps/sierra/datums/reports/medical.dm
Labels: Маппинг

#2200 Добавление паспортов.
  maps/sierra/items/items.dm
Labels: Маппинг

#2228 Rnd remap
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Маппинг

#2230 Лицензия для пушки Някроза
  code/game/objects/structures/railing.dm
  infinity/custom_items/general/nicroz-gun.json
Labels: Кастомка

#2216 added emergency closet to yacht, CO2 jetpack and spacebike. Allows you and your partner to fly in space safely
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг

#2233 МКП v.2: Кишиневский фикс
  maps/sierra/areas/sierra1.dm
  maps/sierra/sierra-1.dmm
Labels: Маппинг

#2245 Значки и повязки
  maps/sierra/loadout/loadout_accessories.dm
  maps/sierra/loadout/loadout_ec_skillbages.dm
Labels: Маппинг

#2248 Фикс дюпа металлов с голодека
  maps/sierra/sierra-4.dmm
Labels: Маппинг
