Repository infinitystation/Baystation12, pull requests merged in 2021-06, with the labels that each got.

#1993 Отключение Восхождения, новые костюмы, кастомки и гроб.
  baystation12.dme
  infinity/code/game/objects/items/donate/costume_bags.dm
  infinity/code/game/objects/items/weapons/staff.dm
  infinity/code/game/objects/items/weapons/storage/backpack_large.dm
  infinity/code/modules/clothing/head/head.dm
  infinity/code/modules/clothing/shoes/shoes.dm
  infinity/code/modules/clothing/suits/suits.dm
  infinity/custom_items/general/ensh_izh_arkosh_fol-tango-dress.json
  infinity/custom_items/general/mixanovr64-Andrew-Novak-armor.json
  infinity/custom_items/general/sidveld-Braun-goggles.json
  infinity/customs/adro244.dm
  infinity/customs/ensh_izh_arkosh_fol.dm
  infinity/customs/mixanovr64.dm
  infinity/customs/sidveld.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/mob/onmob/lefthand.dmi
  infinity/icons/mob/onmob/onmob_back.dmi
  infinity/icons/mob/onmob/onmob_feet.dmi
  infinity/icons/mob/onmob/onmob_head.dmi
  infinity/icons/mob/onmob/onmob_suit.dmi
  infinity/icons/mob/onmob/righthand.dmi
  infinity/icons/obj/clothing/obj_feet.dmi
  infinity/icons/obj/clothing/obj_head.dmi
  infinity/icons/obj/clothing/obj_under.dmi
  infinity/icons/obj/storage.dmi
  infinity/icons/obj/wizard.dmi
  maps/antag_spawn/wizard/wizard_base_inf.dmm
  maps/sierra/loadout/loadout.dm
  maps/sierra/sierra.dm
Labels: Кастомка, Маппинг, Спрайты

#1987 Правим мелкие баги Харона
  maps/sierra/job/jobs_command.dm
  maps/sierra/sierra-1.dmm
Labels: Маппинг

#1995 Изменяем спрайты кастомки Михи
  infinity/customs/mixanovr64.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#1997 мелкофиксы бумажек
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/iaa.dm
Labels: Маппинг

#2000 Кастомки
  baystation12.dme
  infinity/custom_items/general/lordspring-Borton-helltaker.json
  infinity/custom_items/general/sad-ninja-sid-sidnie-blue-suit.json
  infinity/customs/lordspring.dm
  infinity/customs/mixanovr64.dm
  infinity/customs/sad_ninja_sid.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#1998 Большие изменения по карте
  infinity/code/game/machinery/vending.dm
  maps/sierra/areas/multideck.dm
  maps/sierra/areas/sierra3.dm
  maps/sierra/job/access.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/job/outfits.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_shuttles.dm
  maps/sierra/structures/closets/armory.dm
  maps/sierra/structures/closets/engineering.dm
  maps/sierra/structures/closets/exploration.dm
Labels: Маппинг

#2007 Лесной ивент
  baystation12.dme
  html/changelog_infinity.html
  maps/forest_inf/forest-1.dmm
  maps/forest_inf/forest.dm
  maps/forest_inf/forest_areas.dm
  maps/forest_inf/forest_cards_ids_override.dm
  maps/forest_inf/forest_define.dm
  maps/forest_inf/forest_jobs_override.dm
  maps/forest_inf/forest_misc.dm
  maps/forest_inf/forest_ranks_override.dm
  maps/forest_inf/forest_snatch.dm
  maps/forest_inf/forest_turfs.dm
Labels: Маппинг

#2008 Перемещение Junior Guard в подпрофессию офицера
  maps/sierra/job/jobs_security.dm
Labels: Маппинг

#2012 Исправление: добавить недостающую SQL схему в БД
  sql/migrate/V006__InfinityTables.sql
Labels: ВАЖНО!

#2017 Чиним работу телесала
  infinity/code/modules/telesci/telepads.dm
  infinity/code/modules/telesci/telesci_computer.dm
Labels: Баланс

#2018 Кастомка
  infinity/custom_items/general/nicroz-Sybilla-psibriefcase.json
  infinity/custom_items/general/nicroz_cuctom.json
  infinity/customs/nicroz.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2021 Возвращаем теплолюбивых ксеносов в ивент
  infinity/custom_items/general/nicroz_cuctom.json
  infinity/customs/nicroz.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  maps/forest_inf/forest_jobs_override.dm
Labels: Кастомка, Маппинг, Спрайты

#2022 Небольшие штуки
  code/modules/clothing/spacesuits/spacesuits.dm
  infinity/code/modules/clothing/shoes/shoes.dm
  infinity/code/modules/mob/holder.dm
  infinity/code/modules/mob/holder_prepared.dm
  infinity/customs/sidveld.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/mob/mobs.dmi
  infinity/icons/mob/onmob/onmob_feet.dmi
  infinity/icons/obj/clothing/obj_feet.dmi
  maps/sierra/loadout/loadout.dm
  maps/sierra/loadout/loadout_shoes.dm
  maps/sierra/sierra-2.dmm
  maps/sierra/structures/closets/exploration.dm
Labels: Кастомка, Маппинг, Спрайты

#2023 Кастомка и фиксы
  baystation12.dme
  infinity/custom_items/general/hodovoy-suit.json
  infinity/custom_items/general/wolforbykot-kegan-chain.json
  infinity/customs/chainsword.dm
  infinity/customs/hodovoy.dm
  infinity/customs/nicroz.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2032 Кастомка
  infinity/custom_items/general/thehero13-screllhelmet.json
  infinity/customs/thehero13.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2034 Кастомка Адро
  infinity/customs/adro244.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2035 Ещё полировка
  maps/sierra/datums/reports/iaa.dm
  maps/sierra/datums/reports/security.dm
Labels: Маппинг

#2038 новые бумажки
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/security.dm
Labels: Маппинг

#2039 Кастомки
  baystation12.dme
  infinity/custom_items/general/thekekman.json
  infinity/customs/thekekman.dm
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/sound/customs/kekcrowbar/kekcrowbar.ogg
Labels: Кастомка, Спрайты

#2041 Испрвляем петкубы с ящерками и выдачу аккумуляторов из вендора рнд
  infinity/code/modules/mob/holder.dm
  infinity/code/modules/reagents/reagent_containers/food/snacks.dm
  maps/sierra/machinery/vendors.dm
Labels: Маппинг

#2027 Обновляем спрайты цепного меча
  baystation12.dme
  icons/mob/onmob/guns/guns_l.dmi
  icons/mob/onmob/guns/guns_r.dmi
  icons/obj/infinity_items/chainsword.dmi
  infinity/customs/chainsword.dm
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/sound/customs/wolforbykot/chainsword_attack.ogg
  infinity/sound/customs/wolforbykot/chainsword_on.ogg
Labels: Кастомка, Спрайты

#2042 Кастомка Таушая - обновление
  infinity/custom_items/general/taushai-Ketwa-voidsuit.json
  infinity/customs/taushai.dm
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2043 Таскаем туда-сюда кастомки
  infinity/custom_items/general/Filiae-ea-high-qual-beret.json
Labels: Кастомка

#2044 Кастомка Ходовоого
  infinity/custom_items/general/hodovoy-Price-fleet-set.json
  infinity/customs/hodovoy.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2045 Кастомка Sad Ninja Sid
  infinity/custom_items/general/sad-ninja-sid-sidnie-revolver.json
  infinity/customs/mixanovr64.dm
  infinity/customs/sad_ninja_sid.dm
  infinity/icons/customs/infinity_custom_guns.dmi
  infinity/icons/customs/infinity_custom_guns_slot_l_hand.dmi
  infinity/icons/customs/infinity_custom_guns_slot_r_hand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
Labels: Кастомка, Спрайты

#2048 Попыт
  infinity/code/modules/clothing/under/under.dm
  infinity/custom_items/general/adro244-vox.json
  infinity/custom_items/general/auesti-Lin-vape.json
  infinity/custom_items/general/auestiq.json
  infinity/customs/adro244.dm
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/sound/customs/popit/popit.ogg
Labels: Кастомка, Спрайты

#2049 Кастомка ExplandedNose
  baystation12.dme
  infinity/custom_items/general/explandednose-commset.json
  infinity/icons/customs/explanded.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2050 Буковки потерялись...
  infinity/customs/adro244.dm
Labels: Кастомка

#2051 УБАКи для всех
  maps/sierra/loadout/loadout_tactical.dm
Labels: Маппинг

#2053 Фикс-2
  infinity/customs/adro244.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
Labels: Кастомка, Спрайты

#2054 Кастомка и фикс
  baystation12.dme
  infinity/customs/explanded.dm
  infinity/customs/he11d1ver.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#2055 Кастомка Рекса
  infinity/customs/he11d1ver.dm
Labels: Кастомка

#2056 Все еще кастомка Рекса
  infinity/custom_items/general/he11d1ver-Aard-meshok.json
Labels: Кастомка
