Repository infinitystation/Baystation12, pull requests merged in 2021-05, with the labels that each got.

#1954 автолейблер
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Оптимизация

#1962 Labeler fixes
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Оптимизация

#1940 Кастомка Вольфора И МНОГОЕ ДРУГОЕ
  baystation12.dme
  code/__defines/_inf/customs.dm
  code/__defines/misc.dm
  infinity/code/game/objects/items/weapons/storage/weapon_case.dm
  infinity/custom_items/general/mixanovr64-Michael-White-gun.json
  infinity/custom_items/general/thehero13-Axel-helmet.json
  infinity/custom_items/general/wolforbykot-kegan-suit.json
  infinity/customs/army_overcoat.dm
  infinity/customs/mixanovr64.dm
  infinity/customs/taushai.dm
  infinity/customs/thehero13.dm
  infinity/customs/wolforbykot.dm
  infinity/icons/customs/infinity_custom_guns.dmi
  infinity/icons/customs/infinity_custom_guns_slot_l_hand.dmi
  infinity/icons/customs/infinity_custom_guns_slot_r_hand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/obj/storage.dmi
Labels: Кастомка, Спрайты

#1946 Saber update
  infinity/icons/obj/weapons.dmi
Labels: Спрайты

#1965 Экономьте свет, дятлы
  code/game/area/areas.dm
  infinity/code/game/machinery/lightswich.dm
  infinity/code/game/machinery/security_scanner.dm
Labels: Фича

#1964 Изменения карты от Динки
  maps/sierra/areas/sierra2.dm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Маппинг

#1929 Переработка часиков
  baystation12.dme
  code/modules/clothing/clothing.dm
  infinity/code/modules/client/preference_setup/loadout/lists/general.dm
  infinity/code/modules/client/preference_setup/loadout/lists/infinity.dm
  infinity/code/modules/clothing/accessories/accessory_hand.dm
  infinity/icons/mob/onmob/onmob_hands.dmi
  infinity/icons/mob/onmob/onmob_wristwatch.dmi
  infinity/icons/obj/clothing/obj_accessory_hand.dmi
Labels: Спрайты

#1966 Бодимарки, кастомка Фарвы и Азры
  baystation12.dme
  infinity/code/modules/sprite_accessories/accessory_human.dm
  infinity/custom_items/general/asriel15-Friedrich-rogue-set-civ.json
  infinity/custom_items/general/asriel15-Friedrich-rogue-set.json
  infinity/custom_items/general/farwa-M0LLY-wig.json
  infinity/customs/asriel.dm
  infinity/customs/farwa87.dm
  infinity/customs/farwa_plushie.dm
  infinity/icons/customs/infinity_custom_items_inhands_lefthand.dmi
  infinity/icons/customs/infinity_custom_items_inhands_righthand.dmi
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  infinity/icons/mob/human_races/species/human/markings.dmi
Labels: Кастомка, Спрайты

#1969 Отбираем пизду Миханова полученную им при взлете
  code/game/objects/buckling.dm
  infinity/code/game/objects/buckling.dm
Labels: Фикс

#1961 Щупаю кабеля, кабель щупает меня
  maps/sierra/areas/sierra3.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/structures/closets/medical.dm
Labels: Маппинг

#1972 Я осторожно трогаю ВСЕ тесты....
  .github/workflows/cancel.yml
  .github/workflows/changelog_gen.yml
  .github/workflows/changelog_generation.yml
  .github/workflows/label.yml
  .github/workflows/lineendings.yml
  .github/workflows/make_changelogs.yml
  .github/workflows/test.yml
  html/changelogs_infinity/__CHANGELOG_README.txt
  test/check-paths.sh
  test/run-test.sh
  tools/changelog/generate_cl.py
  tools/changelog/generate_cl_ru.py
  tools/changelog/makeChangelog.bat
  tools/changelog/makeChangelogInfinity.bat
  tools/changelog/ss13_genchangelog.py
  tools/changelog/ss13_ru_genchangelog.py
  tools/changelog/tags.yml
Labels: Фикс

#1977 Нормальное описание
  maps/away/ascent_caulship/ascent_jobs.dm
Labels: Маппинг

#1978 Добавляем скаввер и сортируем списки инклюдов
  maps/antag_spawn/mercenary/mercenary_base_inf.dmm
  maps/sierra/sierra.dm
Labels: Маппинг

#1979 Долгожданное обновление второй палубы
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#1980 Багфикс блуждающих лампочек!
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#1981 Возврат платы платы телепорта и брони наёмникам. Мапперские поправки по базе наёмников.
  infinity/code/datums/uplink/armor.dm
  infinity/code/datums/uplink/devices and tools.dm
  maps/antag_spawn/mercenary/mercenary_base_inf.dmm
Labels: Маппинг

#1983 Чиним станпрод путём оверрайда
  baystation12.dme
  code/game/objects/items/weapons/stunbaton.dm
  infinity/code/game/objects/items/weapons/stunbaton.dm
  infinity/icons/mob/onmob/items/lefthand.dmi
  infinity/icons/mob/onmob/items/righthand.dmi
Labels: Спрайты

#1984 Репорт Эдитор стал наконец-то юзабельным.
  infinity/code/modules/modular_computers/file_system/reports/deck_reports.dm
  infinity/code/modules/modular_computers/file_system/reports/report_field.dm
  maps/sierra/datums/reports/command.dm
  maps/sierra/datums/reports/corporate.dm
  maps/sierra/datums/reports/deck.dm
  maps/sierra/datums/reports/engineering.dm
  maps/sierra/datums/reports/exploration.dm
  maps/sierra/datums/reports/iaa.dm
  maps/sierra/datums/reports/medical.dm
  maps/sierra/datums/reports/science.dm
  maps/sierra/datums/reports/security.dm
  maps/sierra/sierra.dm
  tools/changelog/generate_cl_ru.py
Labels: Маппинг

#1985 Добавляем решение компилятору на случай, если чейнджлоги не найдены
  tools/changelog/ss13_ru_genchangelog.py
Labels: Оптимизация

#1989 Кастомка Адро и отключение ксенофажег из ивент-контейнера
  code/modules/events/event_container.dm
  infinity/custom_items/general/adro244-Irin-TT-Suit.json
  infinity/customs/adro244.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка, Спрайты

#1988 Buffing airlocks
  baystation12.dme
  code/game/machinery/embedded_controller/airlock_controllers_dummy.dm
  code/modules/atmospherics/components/unary/vent_pump.dm
  infinity/code/game/machinery/sealgen.dm
  infinity/code/modules/atmospherics/components/binary/double_vent.dm
  infinity/code/modules/atmospherics/components/unary/vent_pump.dm
  infinity/code/modules/webhooks/webhook_roundend.dm
  maps/sierra/items/papers.dm
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#1991 Фикс путя к кастомке
  infinity/custom_items/general/adro244-Irin-TT-Suit.json
Labels: Кастомка
