Repository infinitystation/Baystation12, pull requests merged in 2021-09, with the labels that each got.

#2282 Калик
  infinity/code/game/objects/items/hookah.dm
  infinity/code/game/objects/items/tobacco.dm
  infinity/icons/effects/smoke_hookah.dmi
  infinity/icons/obj/item/coal.dmi
  infinity/icons/obj/item/hookah.dmi
Labels: Спрайты

#2285 Чудо-яхта v2.1! Мелкий апдейт
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг

#2288 Случайно забытые коммиты чудо-яхты v2.1!
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг

#2290 Кастомки меня и дрона + тик кальяна
  baystation12.dme
  infinity/custom_items/general/dron240-vox-rig.json
  infinity/custom_items/general/hacso-beret.json
  infinity/customs/dron240.dm
  infinity/customs/hacso.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Спрайты, Кастомка

#2295 Новый Офис ГП, попытка вторая
  maps/sierra/areas/sierra3.dm
  maps/sierra/sierra-3.dmm
Labels: Маппинг

#2296 Кастомки
  infinity/custom_items/general/dron240-vox-rig.json
  infinity/customs/ayadanger.dm
  infinity/customs/dron240.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Спрайты, Кастомка

#2271 Смотрю свои старые ветки
  baystation12.dme
  code/modules/economy/Accounts.dm
  infinity/code/modules/economy/Accounts.dm
  maps/away_inf/bearcat/bearcat_jobs.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_jobs.dm
  maps/away_inf/yacht/yacht.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod_inf/crashed_pod.dm
Labels: Маппинг

#2156 Делаем раундстартовое пробуждение и пробуждение из крио менее раздражительным
  code/controllers/subsystems/jobs.dm
  code/modules/client/preferences_spawnpoints.dm
  infinity/code/datums/spawnpoints/cryo/effects.dm
Labels: RED LABEL

#2299 Перенос изменений с тестовой ветки на мастер
  baystation12.dme
  code/controllers/subsystems/jobs.dm
  code/modules/client/preferences_spawnpoints.dm
  code/modules/economy/Accounts.dm
  infinity/code/datums/spawnpoints/cryo/effects.dm
  infinity/code/modules/economy/Accounts.dm
  maps/away_inf/bearcat/bearcat_jobs.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_jobs.dm
  maps/away_inf/yacht/yacht.dm
  maps/random_ruins/exoplanet_ruins/crashed_pod_inf/crashed_pod.dm
Labels: Маппинг

#2302 Хотфикс провода, мелкие правки Нью-Дормов и мостика.
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#2308 Факс, авейка, доступы, ключи в наушники, покрытие нижнего белья
  baystation12.dme
  code/modules/mob/living/carbon/human/human.dm
  code/modules/paperwork/faxmachine.dm
  code/modules/power/lighting.dm
  infinity/code/datums/underwear/bottom.dm
  infinity/code/datums/underwear/socks.dm
  infinity/code/datums/underwear/undershirt.dm
  infinity/code/datums/uplink/implants.dm
  infinity/code/game/objects/items/hookah.dm
  infinity/code/game/objects/items/weapons/implants/fake_death.dm
  infinity/code/game/objects/items/weapons/storage/uplink_kits.dm
  maps/sierra/items/encryption_keys.dm
  maps/sierra/items/headsets.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra.dm
Labels: Маппинг

#2311 Подпрофы Либерии, да и вообще авеек
  code/modules/submaps/submap_join.dm
  maps/away_inf/liberia/liberia_jobs.dm
Labels: Маппинг

#2313 Гейм зона
  icons/turf/areas.dmi
  maps/sierra/areas/sierra2.dm
  maps/sierra/sierra-2.dmm
Labels: Маппинг, Спрайты

#2316 bugfix
  maps/away_inf/liberia/liberia_jobs.dm
Labels: Маппинг

#2323 New items
  infinity/code/modules/clothing/masks/masks.dm
  infinity/code/modules/clothing/suits/suits.dm
  infinity/icons/mob/onmob/onmob_mask.dmi
  infinity/icons/mob/onmob/onmob_suit.dmi
  infinity/icons/obj/clothing/obj_mask.dmi
  infinity/icons/obj/clothing/obj_suit.dmi
  maps/sierra/loadout/loadout_suit.dm
  maps/sierra/loadout/loadout_tactical.dm
Labels: Маппинг, Спрайты

#2322 Kalyan
  infinity/code/game/objects/items/hookah.dm
  infinity/code/modules/reagents/Chemistry-Reagents/Chemistry-Reagents-Tobacco.dm
  infinity/icons/obj/item/coal.dmi
  infinity/icons/obj/item/hookah.dmi
Labels: Спрайты

#2333 Кальян на яхту
  maps/away_inf/yacht/yacht.dmm
Labels: Маппинг

#2331 EAL позитронному мозгу и ПИИ
  code/datums/ai_law_sets.dm
  code/modules/mob/living/silicon/pai/pai.dm
  code/modules/mob/living/silicon/pai/software_modules.dm
  code/modules/mob/living/silicon/posi_brainmob.dm
Labels: Изменение
