Repository infinitystation/Baystation12, pull requests merged in 2021-04, with the labels that each got.

#1871 выпил постера с резоми
  infinity/code/game/objects/effects/decals/posters.dm
  infinity/icons/obj/posters.dmi
Labels: Спрайты, Удаление

#1873 Revert "Изменяем flux у воксов."
  code/modules/projectiles/guns/energy/vox.dm
  code/modules/projectiles/projectile/energy.dm
Labels: Баланс

#1869 Убираем из спавна Vox Base
  maps/away/voxship/voxship.dm
Labels: Удаление

#1881 Кастомка Миханова
  baystation12.dme
  icons/mob/onmob/guns/guns_l.dmi
  icons/mob/onmob/guns/guns_r.dmi
  infinity/custom_items/general/mixanovr64-machete.json
  infinity/customs/mixanovr64.dm
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1886 Minor things
  baystation12.dme
  code/game/objects/structures/stool_bed_chair_nest/bed.dm
  infinity/code/game/objects/buckling.dm
  infinity/code/modules/webhooks/webhook_server_update.dm
  infinity/customs/nicroz.dm
  maps/sierra/sierra-3.dmm
Labels: Маппинг

#1887 Улучшаем уведомления связанные с банами
  code/modules/admin/DB ban/functions.dm
  code/modules/admin/NewBan.dm
  code/modules/admin/topic.dm
  infinity/code/modules/admin/ban_messages.dm
  infinity/code/modules/webhooks/webhook_ban_message.dm
Labels: Фича

#1884 Фикс РАСТ Сентенель
  maps/away_inf/sentinel/sentinel-1.dmm
Labels: Маппинг

#1866 Bearcat mapping
  maps/away_inf/bearcat/bearcat-1.dmm
  maps/away_inf/bearcat/bearcat-2.dmm
  maps/away_inf/bearcat/bearcat.dm
  maps/away_inf/bearcat/bearcat_access.dm
  maps/away_inf/bearcat/bearcat_areas.dm
Labels: Маппинг, Фикс

#1874 Пробный баланс населенных авейкарт
  maps/away/ascent/ascent.dm
  maps/away/bearcat/bearcat.dm
  maps/away/skrellscoutship/skrellscoutship.dm
  maps/away_inf/bearcat/bearcat.dm
  maps/away_inf/liberia/liberia.dm
  maps/away_inf/sentinel/sentinel.dm
Labels: Баланс, Изменение, Требует обсуждения

#1892 Добавляем описание проф в setup character.
  maps/sierra/job/jobs_cargo.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_engineering.dm
  maps/sierra/job/jobs_medical.dm
  maps/sierra/job/jobs_misc.dm
  maps/sierra/job/jobs_research.dm
  maps/sierra/job/jobs_security.dm
  maps/sierra/job/jobs_service.dm
Labels: Фикс

#1861 Трогаем Харон и садик на второй палубе
  html/changelogs_infinity/sidveld-pr-#1861.yml
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
Labels: Маппинг

#1896 Перепиливаем кастомку Михи
  infinity/customs/mixanovr64.dm
Labels: Кастомка

#1889 Очень важное изменение
  code/game/objects/items/toys.dm
Labels: Фича

#1808 Обнова спрайтов spotlight-ов
  code/modules/power/lighting.dm
  infinity/icons/obj/lighting_inf.dmi
Labels: Спрайты, Фича

#1794 Респрайт ньюскастеров
  baystation12.dme
  html/changelogs_infinity/coltrane97-casters.yml
  infinity/code/game/machinery/newscaster.dm
  infinity/icons/obj/terminals_holo.dmi
Labels: Спрайты, Фича

#1890 Фиксы фиксы фиксы авеек
  baystation12.dme
  code/modules/ascent/ascent_rigs.dm
  code/modules/projectiles/guns/energy/mantid.dm
  icons/obj/ascent_sleepers.dmi
  infinity/code/modules/ascent/ascent_machines.dm
  infinity/code/modules/ascent/ascent_machinies.dm
  maps/away/ascent/ascent-1.dmm
  maps/away_inf/sentinel/sentinel-1.dmm
Labels: Маппинг, Фикс

#1895 мелкофиксы
  code/game/area/areas.dm
  infinity/code/modules/webhooks/webhook_ban_message.dm
  maps/sierra/job/jobs.dm
Labels: Фикс

#1906 Вместо замены мы просто добавляем волос
  icons/mob/human_races/species/human/hair_infinity.dmi
  infinity/code/modules/sprite_accessories/accessory_hair.dm
Labels: Спрайты, Фича

#1907 фиксы лодаута по экзапстеру. прибили дальние земли к полу. нулл.кост фиксим
  code/_helpers/lists.dm
  code/modules/client/preference_setup/loadout/lists/misc.dm
  code/modules/overmap/exoplanets/turfs.dm
  maps/sierra/loadout/loadout_accessories.dm
  maps/sierra/loadout/loadout_tactical.dm
  maps/sierra/loadout/~defines.dm
Labels: Фикс

#1904 Adherent job
  maps/sierra/job/jobs.dm
Labels: Баланс, Требует обсуждения

#1908 Кастомка Адро
  baystation12.dme
  infinity/custom_items/general/adro244-armor.json
  infinity/customs/adro.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Кастомка

#1863 Patreon
  baystation12.dme
  code/__defines/_inf/armor.dm
  code/__defines/_inf/colors.dm
  code/__defines/_inf/culture.dm
  code/__defines/_inf/exdatastores.dm
  code/__defines/_inf/gamemode.dm
  code/__defines/_inf/guns.dm
  code/__defines/_inf/items_clothing.dm
  code/__defines/_inf/machinery.dm
  code/__defines/_inf/materials.dm
  code/__defines/_inf/misc.dm
  code/__defines/_inf/mobs.dm
  code/__defines/_inf/modulars.dm
  code/controllers/configuration.dm
  code/datums/communication/aooc.dm
  code/datums/communication/dsay.dm
  code/datums/communication/looc.dm
  code/datums/communication/ooc.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/client/preference_setup/global/01_ui.dm
  code/modules/client/preference_setup/loadout/lists/accessories.dm
  code/modules/client/preference_setup/loadout/loadout.dm
  code/modules/species/station/human_subspecies.dm
  html/browser/common.css
  infinity/code/controllers/configuration.dm
  infinity/code/controllers/subsystems/initialization/external_datastore.dm
  infinity/code/datums/donate_data/client_verb.dm
  infinity/code/datums/donate_data/donate_data.dm
  infinity/code/modules/client/login.dm
  infinity/code/modules/client/preference_setup/loadout/gear.dm
  infinity/code/modules/emoji/emoji.dmi
  infinity/code/modules/emoji/emoji_parse.dm
  infinity/code/modules/external_datastore/_datastore_setup.dm
  infinity/code/modules/external_datastore/datastore_core.dm
  infinity/code/modules/external_datastore/presets/donators.dm
  infinity/code/modules/external_datastore/presets/donators_ranks.dm
  infinity/code/modules/external_datastore/presets/ranks_ooc_colors.dm
  infinity/code/modules/reagents/reagent_containers/food/snacks.dm
  infinity/icons/emoji.dmi
  maps/sierra/loadout/loadout.dm
  maps/sierra/sierra.dm
  test/run-test.sh
Labels: Админские штучки, Изменение, Проверить, Требует обсуждения, Фича

#1924 Кастомка Таушая: небольшие корректировки по просьбе заказчика
  infinity/customs/taushai.dm
Labels: Кастомка

#1925 Работа для 🐛
  maps/sierra/job/jobs.dm
Labels: Изменение

#1910 лого сьерры и мелкофиксы
  code/_helpers/text.dm
  code/modules/client/client_procs.dm
  code/modules/paperwork/adminpaper.dm
  html/images/sierralogo.png
  infinity/code/modules/modular_computers/file_system/programs/generic/codeprocessor.dm
  maps/sierra/sierra_setup.dm
Labels: Фича
