Repository infinitystation/Baystation12, pull requests merged in 2021-02, with the labels that each got.

#1814 Откатываем нерф триторианцев
  code/modules/species/station/human_subspecies.dm
Labels: Изменение

#1792 Фикс крафта ботов(и не только)
  code/modules/crafting/crafting_crossbow.dm
  code/modules/crafting/crafting_ed209.dm
  code/modules/crafting/crafting_floorbot.dm
  code/modules/crafting/crafting_secbot.dm
  html/changelogs_infinity/Filiae-PR-#1792.yml
Labels: Баланс, Спорно, Фикс

#1800 Фикс спавна пда и наручного компьютера
  infinity/code/modules/client/preference_setup/loadout/lists/pda.dm
  maps/sierra/loadout/loadout_pda.dm
Labels: Фикс

#1824 Убрал поручни вне челноков
  maps/sierra/sierra-1.dmm
Labels: Маппинг, Фикс

#1828 Sol patrol
  html/changelogs_infinity/sol_patrol.yml
  infinity/code/modules/clothing/spacesuits/rig/rig.dm
  maps/away_inf/patrol/patrol.dmm
  maps/away_inf/patrol/patrol_crew.dm
  maps/away_inf/patrol/patrol_items.dm
Labels: Баланс, Маппинг

#1829 Менять цветы щитов
  baystation12.dme
  infinity/code/modules/shield_generator/shield_genrator.dm
Labels: Фича

#1835 переводим названия кодов
  maps/sierra/sierra_security_state.dm
Labels: Фича

#1825 Как же я обожаю трапов в костюмах боже я не могу
  html/changelogs_infinity/sidveld-pr-#1825.yml
  infinity/icons/mob/onmob/onmob_under.dmi
Labels: Спрайты

#1826 Честно портированые спрайты перетяжек с авроры.
  html/changelogs_infinity/sidveld-pr-#1826.yml
  infinity/code/datums/underwear/top.dm
  infinity/icons/mob/human.dmi
Labels: Спрайты

#1836 More nerfes
  code/_helpers/text.dm
  code/modules/clothing/masks/smokable.dm
  infinity/code/game/jobs/job/job.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_jobs.dm
  maps/away_inf/patrol/patrol_crew.dm
  maps/away_inf/patrol/patrol_items.dm
  maps/away_inf/skrellscoutship/skrellscoutship_jobs.dm
  maps/sierra/areas/sierra3.dm
  maps/sierra/job/jobs.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/job/jobs_exploration.dm
  maps/sierra/machinery/machinery.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra_define.dm
  maps/sierra/sierra_procs.dm
  maps/sierra/sierra_security_state.dm
  maps/sierra/structures/closets/exploration.dm
Labels: Баланс, Маппинг, Фикс, Фича
