Repository infinitystation/Baystation12, pull requests merged in 2021-10, with the labels that each got.

#2337 Переработка игровой зоны в новых дормиториях
  maps/sierra/sierra-2.dmm
Labels: Маппинг

#1996 Включаем юнит тесты для наших карт.
  .github/workflows/test.yml
  docs/SECURITY.md
  maps/away_inf/ascent/ascent-1.dmm
  maps/away_inf/bearcat/bearcat-1.dmm
  maps/away_inf/bearcat/bearcat-2.dmm
  maps/away_inf/bearcat/bearcat.dm
  maps/away_inf/bearcat/bearcat_areas.dm
  maps/away_inf/liberia/liberia.dm
  maps/away_inf/liberia/liberia.dmm
  maps/away_inf/liberia/liberia_areas.dm
  maps/away_inf/liberia/liberia_jobs.dm
  maps/away_inf/liberia/liberia_machinery.dm
  maps/away_inf/mining/mining.dm
  maps/away_inf/salvagers/salvagers.dmm
  maps/away_inf/sentinel/sentinel_crew.dm
  maps/away_inf/sentinel/sentinel_structures.dm
  maps/away_inf/skrellscoutship/skrellscoutship_areas.dm
  maps/away_inf/skrellscoutship/skrellscoutship_jobs.dm
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing_inf/away_sites_testing_inf.dm
  maps/sierra/items/papers.dm
  maps/sierra/machinery/alarm.dm
  maps/sierra/sierra.dm
Labels: Маппинг, Unclosable

#2320 Мины по заказу Фолера
  baystation12.dme
  infinity/code/game/objects/items/weapons/chem_mine.dm
  infinity/code/game/objects/items/weapons/mine.dm
  infinity/code/modules/materials/material_recipes.dm
  infinity/code/modules/materials/reciepes.dm
  infinity/icons/obj/mine.dmi
Labels: Спрайты

#2341 Убираем торчебасные обьекты из компайлозависимых
  baystation12.dme
  infinity/code/modules/clothing/accessories/torch.dm
  infinity/custom_items/general/asriel15-Friedrich-branch.json
  infinity/custom_items/general/sallyvadordomold-Denis-crest.json
  infinity/custom_items/general/sallyvadordomold-Denis-heart.json
  infinity/customs/_torch_snatched.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
  maps/away_sites_testing/away_sites_testing.dm
  maps/away_sites_testing_inf/away_sites_testing_inf.dm
  maps/example/compile_required_snatch.dm
  maps/example/example.dm
  maps/sierra/icons/mob/onmob_suit_solgov.dmi
  maps/sierra/icons/mob/onmob_under_solgov.dmi
  maps/sierra/icons/obj/obj_suit_solgov.dmi
  maps/sierra/icons/obj/obj_under_solgov.dmi
  maps/sierra/items/clothing/ec_skillbadges.dm
  maps/sierra/items/clothing/torched/solgov-accessory.dm
  maps/sierra/items/clothing/torched/solgov-armor.dm
  maps/sierra/items/clothing/torched/solgov-suit.dm
  maps/sierra/items/clothing/torched/solgov-under.dm
  maps/sierra/machinery/random.dm
  maps/sierra/sierra-3.dmm
  maps/sierra/sierra-4.dmm
  maps/sierra/sierra.dm
  maps/sierra/sierra_snatch.dm
  maps/sierra/structures/closets.dm
  maps/torch/items/clothing/solgov-accessory.dm
Labels: Маппинг, Спрайты, Кастомка
