Repository infinitystation/Baystation12, pull requests merged in 2022-01, with the labels that each got.

#2364 Doors map commands
  code/modules/client/preference_setup/background/02_language.dm
  maps/sierra/job/jobs_command.dm
  maps/sierra/machinery/doors.dm
  maps/sierra/sierra-1.dmm
  maps/sierra/sierra-2.dmm
  maps/sierra/sierra-3.dmm
Labels: Маппинг

#2368 Униформа парамедика, спрайты эк-скафандров ящеров, ликвидация камеры и гирлянды с дормов
  maps/sierra/icons/mob/unathi/onmob_suit.dmi
  maps/sierra/job/outfits.dm
  maps/sierra/sierra-2.dmm
Labels: Маппинг, Спрайты

#2373 Изоляционки полевому инженеру, ликвидация камеры из душевой вторых дорм
  maps/sierra/sierra-2.dmm
  maps/sierra/structures/closets/exploration.dm
Labels: Маппинг

#2374 Кастомка SoulHunterCat
  baystation12.dme
  infinity/custom_items/general/SoulHunterCat-Glasses.json
  infinity/customs/soulhuntercat.dm
  infinity/icons/customs/infinity_custom_items_mob.dmi
  infinity/icons/customs/infinity_custom_items_obj.dmi
Labels: Спрайты, Кастомка

#2376 Добавлены новые виды сигарет
  baystation12.dme
  code/game/machinery/vending.dm
  infinity/code/game/objects/items/weapons/storage/cigarettes.dm
  infinity/code/modules/clothing/masks/smokable.dm
  infinity/icons/obj/cigarettes.dmi
Labels: Спрайты
